[2015-01-22 04:50] samreid opened #4 "Connect to metacog through a nested iframe"
At the OER Summit, we found it was productive to doubly-nest iframes in order to simplify connectivity between a simulation and a simulation context (rather than modifying the simulation or the context).  For the metacog example, the simulation itself has been modified.  We should build an example that leaves the simulation isolated in a frame and communicates through an intermediate iframe (as we

[2015-01-22 04:54] samreid opened #5 "Add example usage of tin can (xAPI)"
At the OER Summit, we developed support that mapped our arch event stream into the xAPI through tincan.js.  We should get this project to a good checkpoint, check it in and document it in README.md as another possible integration type.  The documentation should include a link to the launchable version as well as the full source code.  tincan.js should not be checked in, but only referenced through

[2015-01-31 00:37] pixelzoom opened #6 ".js files at top level?"
Why are together.js and datamite.js at the top level of the repo, instead of in the js/ directory?

[2015-01-31 00:40] pixelzoom opened #7 "sims/* broken by recent changes to global vars"
The contents of the sims/ directory looks like it a collection of built sims.  These will no longer work with master due to changes to global variables in https://github.com/phetsims/tasks/issues/160.

Longterm, I'd advise against having prebuilt sims checked in like this.

[2015-01-31 00:46] pixelzoom opened #8 "window.phet.datamite doesn't follow convention for PhET globals"
datamite.js looks likes it's an example of how to use together.  It lives in the together repo, and creates global window.phet.datamite, which (according to https://github.com/phetsims/tasks/issues/160) doesn't follow PhET convention for naming globals.

Options:

(1) Allow this to be an exception to the convention. Explain why.

(2) Rename to window.phet.together.datamite

(3) Move datamite to it

[2015-01-31 21:11] hirokiterashima opened #9 "Chart example not charting?"
Mac OSX 10.10.1
FF35
Chrome 40.0.2214.94

I launched the demo on the chart example (#7):
https://github.com/phetsims/together/blob/gh-pages/README.md#example-chart

No matter what I do, nothing seems to get charted on the right of the simulation.

![screen shot 2015-01-31 at 1 10 12 pm](https://cloud.githubusercontent.com/assets/119416/5989853/98bd1cae-a94a-11e4-8c20-945c8b459b22.png)

[2015-01-31 21:14] samreid commented on #9
Thanks for this issue report. The problem is that the data is sampled from the frontmost barometer, but only when it is dragged out of its toolbox.  I'll revise the documentation to make this more clear.

[2015-01-31 21:24] samreid commented on #9
I revised the documentation, you can see the diff above or the full context at: https://github.com/phetsims/together/blob/gh-pages/README.md#example-chart

@hirokiterashima can you please review it and see if this solves the problem?  Again, thank you for the report and let me know if you see any other issues.

[2015-01-31 21:32] hirokiterashima commented on #9
Got it. Thanks for the clarification.

[2015-01-31 21:32] #9 closed

[2015-02-01 06:25] samreid commented on #6
I was following the policy (that I made up arbitrarily) that the js/ directory is for code loaded through the requirejs module loader, and files intended for clients to be included as scripts (specifically as a script tag) would be elsewhere.  Thoughts?

[2015-02-01 06:31] samreid commented on #7
They are built, so I don't understand why they would need to work with master--they are completely isolated.  This directory is a place to serve static snapshots of sims for the gh-pages demos so that they are served from the same domain and don't have cross-domain problems.  I normally exclude these from my IDE paths.  Wasn't sure of the best place to document all that--should I put it in the REA

[2015-02-01 14:48] samreid commented on #8
Since this is intended to be loaded by 3rd parties as a single *.js file library (like lodash, jquery or Pixi), perhaps it makes sense to export itself as a global (as all of those libraries do).  Thoughts?

[2015-02-01 14:49] samreid commented on #8
Also, it is conceptually part of the together repo, since it is intended for (optional) use when together.js is used.

[2015-02-01 17:27] pixelzoom commented on #6
Every sim's config.js file is loaded via a script tag and lives under js/.  I'd prefer to move all .js files under js/.  Otherwise, move all config.js files to the top-level for consistency.

[2015-02-01 17:30] pixelzoom commented on #7
I didn't know if they needed to work with master, just wanted to point out that they won't. I had no way of knowing how they are used, so assumed that they were for testing together. A README in sims/, containing the info above, is recommended.

[2015-02-01 17:32] pixelzoom commented on #8
That sounds reasonable.

[2015-02-01 20:21] samreid commented on #6
together is neither a sim nor does it have a config.js file.  It is not meant to be used independently.

[2015-02-01 20:33] samreid commented on #7
I added docs above, you can see it in context here:
https://github.com/phetsims/together/tree/gh-pages/sims

[2015-02-01 20:34] samreid commented on #8
So would you prefer window.datamite or window.phet.datamite?

[2015-02-02 16:28] pixelzoom commented on #6
I've made my opinion known. Other developers?

[2015-02-02 16:29] #7 closed

[2015-02-02 16:31] pixelzoom commented on #8
window.phet.datamite

[2015-02-02 22:58] samreid commented on #8
I agree window.phet.datamite sounds good.  Anything else to do for this issue?  You reported in the original issue comment that it is already window.phet.datamite.

[2015-02-03 21:02] samreid commented on #6
We decided to put it in js/

[2015-02-06 19:03] pixelzoom opened #10 "fails lint"
This repo currently fails `grunt lint`.

[2015-02-06 19:20] pixelzoom commented on #6
Another good reason to put all .js files under js/ is that `grunt lint` only checks files under js/.

[2015-02-11 05:23] samreid commented on #10
it also fails `npm install` since it has no package.json

[2015-02-11 05:28] samreid commented on #10
Fixed above, closing.

[2015-02-11 05:28] #10 closed

[2015-02-11 05:38] samreid commented on #6
Fixed above, closing.

[2015-02-11 05:38] #6 closed

[2015-03-08 17:25] pixelzoom opened #11 "use a more descriptive name than "API""
The API that's used to access sim components via `together` is being referred to as "API".  This has propagated into code (getAPI), GitHub issues, and now branch names (see https://github.com/phetsims/faradays-law/issues/61).  This is confusing; in addition to the API that each piece of JavaScript code naturally defines, we are also in the process of defining other APIs: accessibility, translation

[2015-03-08 17:36] pixelzoom commented on #11
An API is typically a set of routines, protocols and tools.  The `together` repo defines the routines and command protocols. Another part of the protocol is the routes to components, and the function `getAPI` might be better named `getTogetherRoutes` since it's assembling the protocol (routes) used to access sim components.

[2015-03-10 01:09] samreid opened #12 "rename together.js to together-client.js or together-iframe-client.js or together-messenger.js"
rename together.js to together-client.js or together-iframe-client.js or together-messenger.js

Then together.js name can be used for main implementation in the sim side.

[2015-03-10 02:58] samreid opened #13 "merge arch into together"
It would simplify things to move arch into together.  @kathy-phet said arch and together don't need to be separated for licensing purposes.

In discussion with @pixelzoom, we decided to keep arch and together both as top namespaces in window, since they are both so frequently used, and used with the X && X.Y pattern.

Arch should remain a separate file since it is conceptually a distinct module fr

[2015-03-11 02:43] samreid commented on #11
How about a public instance variable on Sim called `togetherAPI` indicating that it is the API for interoperating with all features under the "together" umbrella?

[2015-03-11 04:47] samreid opened #14 "Show pointer locations + states for playback/record."
Similar to: https://github.com/phetsims/joist/issues/175

For record and playback, it may be valuable to show the pointer locations and pointer states.  @jonathanolson can you look into this with me?

[2015-03-13 21:38] samreid commented on #13
Everything is moved over to phetsims/together.  However, I think we must leave the arch repository for now to keep its history.

[2015-03-13 21:40] samreid commented on #13
We also have many important issues in the arch repo that should be moved or closed.

[2015-03-16 13:39] samreid opened #15 "Internal API for PropertySet property component IDs"
We need a optional way to associated Properties with componentIDs.  For new Propery() this is easy, because we can pass it in as an option.

For PropertySets, we need another way.  I can envision two approaches, not sure what others will prefer.  I'll paste them here from an example in Faraday's Law.  Whatever pattern we choose will permeate our codebase, so please think about this carefully and l

[2015-03-16 15:31] samreid commented on #15
some tradeoffs:

Using {value/componentID} means no duplication of the key name, but special handling for values that have value/componentID structure

Putting the map in options is similar to how we are using componentIDs elsewhere (as an option), but then it gets somewhat disassociated from the property itself (and duplicates the name, which may not be hard to maintain).

[2015-03-16 15:34] samreid commented on #15
On the other hand, we could add asserts to make sure so that all given componentIDs match existing key names...

[2015-03-16 17:51] jonathanolson commented on #15
(B) worries me a little bit, if we depend on checking hasOwnProperty for value/componentID. Imagine if we add componentIDs to bending-light's DataPoint type (it has .value) or a .value property to something with componentID, then presumably it would be discarded and its value would be used?

E.g.:
[code]

[2015-03-16 17:55] samreid commented on #15
Yes, I have the same concern @jonathanolson.  Should we try (A) for now, or can you think of better options?

[2015-03-16 17:59] jonathanolson commented on #15
Are the componentIDs basically routes? I was anticipating it would be connected to that system for determining what the ID should be.

[2015-03-16 18:01] samreid commented on #15
It is a unique identifier within a simulation for accessing a simulation component for configuration, data stream, save/load, interoperability etc.  For instance lines 39+ indicate componentIDs for concentration: https://github.com/phetsims/concentration/blob/together/js/concentration-together-api.js

[2015-03-16 18:47] samreid opened #16 "State query parameters should be nested."
When loading a state or partial state, it may be best to nest the parameters so there is no interference with other top level parameters.  But I'd like to make sure we can do this cleanly so that it is still convenient to add state parameters.  If we cannot do this cleanly then we should check for collisions in keys.

[2015-03-16 22:35] pixelzoom commented on #15
(A) is OK with me. But componentID is the base minimum that needs to be in the map. I'd like to see an example where the property is fully described (type, values if it's an enumeration,...)

[2015-03-16 22:51] samreid commented on #15
I've been keeping this in the public together API declaration file.  To use concentration as an example:
[code]

[2015-03-17 16:54] samreid commented on #15
@jonathanolson & @aaronsamuel137 said (A) seems good for now.  @jbphet wants to take a closer look.

[2015-03-17 17:33] samreid opened #17 "Make sure together && arch lines get stripped out from production builds"
@jb suggested verifying together && arch get stripped out.

[2015-03-17 17:46] jbphet commented on #15
I just reviewed the instrumented version of Faraday's Law with @samreid, and I'm okay with A, eh.

[2015-03-20 19:24] pixelzoom commented on #11
`togetherAPI` sounds like a fine name. And if Sim is going to be a singleton, then making it a public instance variable sounds OK.   As an alternative, would `window.phet.together.api` provide equivalent convenience, while not putting the responsibility with Sim?

[2015-03-21 02:28] samreid commented on #11
Yes, sim is already a singleton which can be accessed as `phet.joist.sim`.

I'd like the togetherAPI to live in the sim code--I'm sure there are many ways to do it, but passing it as an option to Sim.js and passing that through to together.js (as we do now) seems reasonable to me.  But let me know if you can think of a superior alternative.

[2015-03-23 16:46] pixelzoom commented on #11
@samreid and I discussed putting all of the sim API files (*-api.js) in the together repo.  I guess they could then be added to the HTML file, as the together support is.  Eg:

[code]

If they lived in together, then could probably drop "together" from the file name. Eg, `../together/js/concentration-api.js` instead of `../together/js/concentration-together-api.js`.

[2015-03-24 14:44] pixelzoom opened #18 "standard entries missing from .gitignore"
This causes things like node_modules/ to be flagged as untracked files.

[2015-03-24 14:48] pixelzoom commented on #18
I added the standard entries to .gitignore.

There is also 1 entry (`.idea`) that probably doesn't need to be there, since that's typically a directory at the root level of an IntelliJ IDEA project.  Assigning to @samreid to decide whether it can be deleted.

[2015-03-24 17:23] pixelzoom opened #19 ""file doesn't exist" when building locale-specific HTML files"
This was the case before doing the Gruntfile overhaul in #108.

`grunt --all-locales true`, for example, results in a lot of errors during the 'requirejs:build' task. Here's the console output for example-sim:

[code]

Note that some of these files are example-sim, some are joist. And the same files are mentioned multiple times.

The build does continue and finishes, there are locale-specific HTML

[2015-03-24 17:27] pixelzoom commented on #19
I think I see the problem... In task beforeRequirejsBuild, `global.phet.localesToBuild` is set. For example-sim, its value is `[ 'README', 'en', 'fr' ]`.  The `README` is the culprit.

[2015-03-24 17:29] pixelzoom commented on #19
Looks like example-sim (and many other repos) have a README.txt file in theirs strings/ directory. The build task assumes that there's nothing in the directory but JSON string files.

[2015-03-24 17:32] pixelzoom commented on #19
The README.txt files originated with simula-rasa.  The build task should be smart enough to ignore non-string files, but I don't have time to do that now.  So I deleted the README.txt files from simula-rasa and all other sim repos.

[2015-03-24 17:34] pixelzoom commented on #19
Whoops, this issue should have been created in chipper. Moving to https://github.com/phetsims/chipper/issues/119.

[2015-03-24 17:34] #19 closed

[2015-03-24 22:08] #18 closed

[2015-03-24 22:48] pixelzoom commented on #11
Not sure what else needs to be done on this, or what other input is needed from me. Assigning to @samreid.

[2015-03-24 23:41] samreid commented on #11
I moved the files above, and I think everything for this issue is complete.  Closing.

[2015-03-24 23:41] #11 closed

[2015-03-24 23:50] samreid commented on #12
I renamed it to together-iframe-client, closing.

[2015-03-24 23:50] #12 closed

[2015-03-24 23:50] samreid commented on #15
I think this plan is working acceptably well, closing.

[2015-03-24 23:50] #15 closed

[2015-03-25 04:03] samreid opened #20 "Improve the pattern for customizability"
From https://github.com/phetsims/arch/issues/14

@pixelzoom said:

[2015-03-25 04:06] samreid opened #21 "Moore Foundation goals"
From October 10, 2014 in https://github.com/phetsims/arch/issues/4

We met yesterday about the Moore foundation grant goals.  We decided that before August 31, 2015 we want to complete the following work:

- [x] Choose a general data collection framework.  This framework will not focus on assessment, but it will not rule out that possibility in the future.
- [x] The general data collection framewo

[2015-03-25 04:07] samreid opened #22 "Come up with a better way to send data to the server."
From https://github.com/phetsims/arch/issues/5

@jbphet said:

[2015-03-25 04:08] samreid commented on #22
If we run the websocket server on port 80 or 443, would that solve the problem?  Or do we need to look into a different payload strategy?

[2015-03-25 04:08] samreid commented on #22
@jonathanolson said:

[2015-03-25 04:08] samreid commented on #22
@ariel-phet said:

[2015-03-25 04:08] samreid commented on #22
Whether or not we offload the collection to our collaborators, we must decide upon the "payload" strategy--whether we are using websockets or http posts or another alternative.

[2015-03-25 04:08] samreid commented on #22
Based on @jbphet suggestion, I asked metacog how they are transmitting the data:

On Oct 31, 2014 10:52 AM, "Sam Reid" <reids@colorado.edu> wrote:

31/10/14 13:11, Douglas Stein wrote:

On 10/31/14 12:22 PM, cesar wrote:

[2015-03-25 04:08] samreid commented on #22
I replied:

 Doug and Cesar,

Thanks for the clarification, but I am still not sure whether you are using a WebSocket server or a traditional Web Server (like Apache) listening on port 80/443.  The API docs don't seem to mention the underlying technology.  It looks like in the minified file http://cdn.metacog.com/metalogger.min.js you are using XMLHttpRequest || ActiveXObject, is that right?  Also

[2015-03-25 04:09] samreid commented on #22
In this stackoverflow thread:
http://stackoverflow.com/questions/1967943/will-html5-websockets-be-crippled-by-firewalls

I read the top voted answer:

[2015-03-25 04:09] samreid commented on #22
On 11/3/14 1:18 PM, Douglas Stein wrote:

[2015-03-25 04:09] samreid commented on #22
In Jan 2105 @jbphet is going to look into using AWS for data collection.

[2015-03-25 04:09] samreid commented on #22
@oliver-phet and I did some initial investigation into using Amazon Web Services, and met with some reps by phone.  This seems like a very viable option, but we will need more time on it to work out details and try it out.  Recent discussions with @ariel-phet have indicated that this is, I think, a relatively low priority.

[2015-03-25 04:09] samreid commented on #22
3rd parties will be transmitting/storing the data for now.

[2015-03-25 04:10] samreid opened #23 "Improve throttling & filtering"
Moved from https://github.com/phetsims/arch/issues/1

We implemented a naive throttling algorithm which only sends the message if it has been >delay since the previous message.  However, when dragging a slider, this could omit the essential final value.  Could be handled separately in endDrag(), but @jonathanolson suggested:

That would work well, but would require adding a message processing loop

[2015-03-25 04:10] samreid commented on #23
By the way, Ido has reviewed naive throttling and said it will work well for the initial HTML5 studies.

[2015-03-25 04:10] samreid commented on #23
In #2, @pixelzoom said:

[2015-03-25 04:10] samreid commented on #23
I'd like arch to plug in to the sim's animation frame loop, so it can basically setTimeout/setInterval for certain throttled events to ensure we don't drop the last event.

[2015-03-25 04:11] samreid commented on #23
One complication for throttling is what to do for children that are marked as throttled, but parents are not marked as throttled.  Maybe we should only permit throttling on roots?

[2015-03-25 04:11] samreid commented on #23
I removed throttling in Property.js because it was getting too complicated--should be handled elsewhere as part of this issue.

[2015-03-25 04:11] samreid commented on #23
We spoke about this with ETS and Ido today and they had good recommendations for how to markup the data for postprocess throttling.  I'll create a separate issue in together.

[2015-03-25 04:16] samreid commented on #4
I have worked with @phetsims/cesar-pachon to connect metacog + phet over an iframe, and it has been working well.  Closing.

[2015-03-25 04:16] #4 closed

[2015-03-25 04:17] samreid commented on #13
Everything is moved here.  The only remaining issue is whether to delete arch. https://github.com/phetsims/arch/issues/25  Closing.

[2015-03-25 04:17] #13 closed

[2015-03-25 04:18] samreid commented on #14
Metacog said this is not necessary, but ETS said it would be very valuable.  I mentioned it to @jonathanolson and he said perhaps we should investigate recording and playing back scenery input events, or possibly scene deltas.  @jonathanolson let's set aside a time to discuss this.

[2015-03-25 04:20] samreid commented on #21
We have made significant steps forward on all issues reported above except (c) Implement a number of examples of how to filter/analyze the data and make them publicly available.

I'll move that to a separate issue and close this issue.

[2015-03-25 04:20] #21 closed

[2015-03-25 04:21] samreid opened #24 "Implement a number of examples of how to filter/analyze the data and make them publicly available."
From #21

I moved this to a separate issue so that we can thread a conversation about priority, scope, etc.

[2015-03-25 04:21] samreid commented on #24
@ariel-phet or @kathy-phet can you comment about what is desired here before our August 31, 2015 deadline?

[2015-03-25 04:24] samreid commented on #24
Here is a simple example I created in together/js/datamite.js, which creates a histogram of counts based on action type for the arch data stream:

[code]

[2015-03-25 04:26] samreid opened #25 "We will probably eventually make Save/Load publicly available through our normal licensing"
@kathy-phet said for now it is ok to develop Save/Load under together.js but that in the future (say >1 years from now) we may want to make Save/Load available in all of our public (non-enhanced) sims.  Once we decide on a user interface for save/load (including whether a state can be loaded via query parameters), it will be easier to understand how its implementation will relate to the other toge

[2015-03-25 04:39] jonathanolson commented on #14
Did this include just pointer locations (fairly easy), or also the button highlights and other visual interactions (harder)?

[2015-03-25 14:49] samreid commented on #14
It was requested that we can show the simulation exactly as it was seen by the student, including all visual interactions such as button highlights, cursor changing from arrow into hand, button presses, etc.

[2015-03-25 14:54] samreid opened #26 "Do we need to become LTI compliant?"
See https://github.com/phetsims/joist/issues/179

Namely:

@ariel-phet said:

[2015-03-25 18:58] pixelzoom commented on #25
Duplicate of https://github.com/phetsims/joist/issues/103?

[2015-03-25 19:14] pixelzoom opened #27 "[arch] code review for potential merge into master"
This issue was moved from https://github.com/phetsims/arch/issues/2 for posterity, since the 'arch' repo is destined for deletion.

[2015-03-25 19:14] pixelzoom commented on #27
@pixelzoom commented on Sep 30, 2014

This is a consolidation of phetsims/axon#34, phetsims/joist#167 and phetsims/sun#120.

Review arch and the 'arch' branches of axon, joist and sun. Sim examples are in the 'arch' branches of balancing-act and fluid-pressure-and-flow.

Evaluate whether this approach to data collection is (a) suitable for merging into master, and (b) if the design seems scalable

[2015-03-25 19:14] pixelzoom commented on #27
pixelzoom commented on Sep 30, 2014

Here are my specific comments. Comments marked with :star2: are "big general issues".

Comments on arch 'master' branch:

- [x] :star2: It's up to the client to ensure that phetEvents.start and end calls match up. A programming error (e.g., missing 'end' call) could be very difficult to find.  The API should prevent this by identifying and enforcing start/end p

[2015-03-25 19:15] pixelzoom commented on #27
pixelzoom commented on Sep 30, 2014

Summary: This is a very nice prototype that explores some of the issues related to data collection. And it appears to have served (and been driven by) the immediate needs of one specific study. But it doesn't have the appearance of something that will necessarily meet PhET's longterm needs. So I don't think it's appropriate to merge this into master. Rather, I

[2015-03-25 19:15] pixelzoom commented on #27
pixelzoom commented on Sep 30, 2014

Review completed, reassigning to @samreid.

[2015-03-25 19:15] pixelzoom commented on #27
samreid commented on Sep 30, 2014

Thanks for the thorough review, Chris--I appreciate it. Rather than address individual review comments above, it sounds like it will be more productive to meet/collaborate on general requirements and a (possibly new) design that will support the features we want.

[2015-03-25 19:16] pixelzoom commented on #27
pixelzoom commented on Oct 1, 2014

A question about the nested nature of messages... A message is not sent to the server until the phetEvent stack is empty. Is there any concern that this may result in a very large message which causes out-of-memory problems?

[2015-03-25 19:16] pixelzoom commented on #27
@pixelzoom commented on Nov 13, 2014

At 11/13/14 dev meeting, we discussed whether to make changes or reimplement. I don't know that answer to that.  My main concern is that some of my review comments are very general issues, and I don't know how feasible it will be to modify the existing implementation to address these.  I've marked those issue (above) with :star2:.

[2015-03-25 19:17] pixelzoom commented on #27
@samreid commented on Nov 13, 2014

At 11/13/14 dev meeting, we decided to move the arch branches to master, but to put all of the functionality under a query parameter so that it is disabled by default. I think we can arrive at a good solution to the issues above through incremental changes. @ariel-phet also suggested discussing the new data output format with @emily-phet to see if she has any re

[2015-03-25 19:17] pixelzoom commented on #27
@samreid commented on Dec 31, 2014

@pixelzoom said:

Can you suggest a way of doing this?  Are you thinking of adding an argument to the `end` function?

[2015-03-25 19:18] pixelzoom commented on #27
@samreid commented on Dec 31, 2014

@pixelzoom said:

Can you recommend better names?

[2015-03-25 19:18] pixelzoom commented on #27
@samreid commented on Dec 31, 2014

[2015-03-25 19:19] pixelzoom commented on #27
@samreid commented on Dec 31, 2014

I checked off many of @pixelzoom's recommendations above. And I'll move the remaining issues to separate issues for discussion.

[2015-03-25 19:19] pixelzoom commented on #27
@samreid commented on Dec 31, 2014

Current status: I've checked off several of the issues @pixelzoom pointed out above, mostly by committing into arch branches. Those changes are ready for review. More complex issues that require further discussion have been moved to separate issues, see above. As I work on those I will reach a point where it is good to start merging things into master. Merging i

[2015-03-25 19:19] pixelzoom commented on #27
@pixelzoom commented on Jan 5, 2015

I reviewed and commented on all of the related issues that were assigned to me.

[2015-03-25 19:20] pixelzoom commented on #27
@samreid commented on March 20, 2015

This has been renamed to componentID and documented in together/arch.js.  Arch now requires a componentID.

[2015-03-25 19:20] pixelzoom commented on #27
@samreid commented on March 20, 2015

All subissues addressed, closing.

[2015-03-25 19:20] #27 closed

[2015-03-25 19:21] pixelzoom commented on #27
This issue has been archived in https://github.com/phetsims/together/issues/27.

[2015-03-25 23:31] samreid commented on #25
Yes, it is the same issue.  Not sure where the best place for an issue is.  Perhaps in Joist?  But I still want it to be on the radar here in Together.

[2015-03-26 13:37] samreid opened #28 "How to instrument very similar modules?"
I wanted to try to instrument EnergySkatePark:Basics so I could investigate how to instrument very similar screens (though the same issues will apply to other kinds of similar modules as well).

I first tried a "brute force" approach, hardcoding  componentID declarations and pushing them back as far as necessary to reach all of the components: 61513e622b03219f4aa83b642341ca6d8ff0006d

This solutio

[2015-03-26 13:39] samreid commented on #28
Here is a better link to the ESPB sha for discussion:
https://github.com/phetsims/energy-skate-park-basics/commit/61513e622b03219f4aa83b642341ca6d8ff0006d

Maybe a good generalization would be to pass through a contextID which can be prepended.  Then this solution can be used for other types of generalizations, not just duplicated across screens.

[2015-03-26 13:42] samreid commented on #28
There is the parallel question of if/how to productively avoid duplicating information within the API file itself.

[2015-03-26 13:52] samreid commented on #28
Perhaps if we use a contextID, it should be an object with an append method, so it will be easy to search for usages of this pattern, and guarantee consistent behavior (factor out x +'.'+y at the very least).  Not sure where such a thing should live--we may eventually need a MIT licensed support library for together for other features such as handling Array element id assignment.

[2015-03-26 14:04] samreid commented on #28
Brainstorming names for a MIT licensed support library for together features that must appear in published sims:

tandem

Any other ideas?  I may start with tandem and see how it goes.

[2015-03-26 15:18] samreid commented on #28
The above commit "Moved gridCheckBox to ComponentIDContext..." is a good example of the tradeoff between the brute force and dynamic (context-based) approaches.  Seems like a good direction to move in--the brute force approach requires too much manual labor and has too many opportunities for typos.

[2015-03-26 21:16] samreid commented on #28
With additional change sets not recorded here, I've finished moving ESPB to ComponentIDContext, and it is looking much better.  One other tradeoff I noticed is this decreases flexibility for giving individual component id's.  Perhaps a good reason to use this pattern in sim code but not in common code?  If common code used ComponentIDContext, then a child component name would be fixed by common co

[2015-03-27 03:06] samreid opened #29 "Should we rename componentID to togetherID?"
Would it make things more consistent/cohesive/etc if we renamed componentID to togetherID?  I don't feel strongly one way or the other, but just wanted to get opinions from @aaronsamuel137 @pixelzoom @jonathanolson @jbphet since we will be typing it a lot in simulation code.

[2015-03-27 03:08] samreid opened #30 "Should arch.start and arch.end be moved to together.start and together.end?"
Right now together provides support for several related features.  together.addComponent/together.removeComponent registers components with together.  But for sending events, we currently use arch.start and arch.end.  Should arch.start/arch.end be moved to together.start/together.end, or perhaps together.startEvent and together.endEvent?  Just wondering if people would think this makes things simp

[2015-03-27 06:15] pixelzoom commented on #29
togetherID is certainly more specific. And it would be easier to search for "together" to find all together-related code. Currently have to search for "together" and "componentID".

[2015-03-27 06:17] pixelzoom commented on #30
The name `arch` is now somewhat historical, since that repo has been merged into together and deleted. I guess I don't feel too strongly. But it might the subtle difference between together and arch might be lost on future developers, and might not be important.

[2015-03-27 15:19] samreid opened #31 "Create a roadmap"
@kathy-phet said:

[2015-03-27 15:20] samreid opened #32 "Instrument 4 sims by June"
@kathy-phet said 2 chemistry and 2 physics, one must be concentration.  They need to have data stream + save/load playback.

[2015-03-27 16:17] samreid commented on #23
Ido said it is important to flag significant events in a large stream of related events.  For instance:

* Change of direction when dragging a slider
* When the user pauses when dragging a slider

Add flags into the data, so it can be filtered in postprocessing easily
Maybe just do this for sliders (not things that can be moved in 2 dimensions because the above quantities are more ambiguous)
Havin

[2015-03-28 01:15] samreid opened #33 "Change property and array to be uppercase"
I originally chose property and array types to be lowercase to avoid lint issues, but this is causing inconsistencies in our type system.  Would be better if everything was uppercase for consistency, and let's just work around jshint in this case.

[2015-03-29 01:01] samreid commented on #29
I was leaning toward renaming this to `togetherID` until I realized this term will appear in the 3rd party client usage.  And for 3rd party users of this code, it may make more sense to use the term `componentID` -- `togetherID` sounds a bit too much like an internal implementation detail.

[2015-03-29 04:05] jonathanolson commented on #30
together.startEvent/endEvent (or together.events.start/end) might be easier to read.

[2015-03-29 16:48] aaronsamuel137 commented on #30
I don't have too strong a preference either, but I am leaning toward together.start and together.end. It seems more consistent to me now that arch is deleted.

[2015-03-30 01:38] samreid opened #34 "Make sure all docs and examples are updated to use componentID"
Some pre-existing docs + examples use `expression` instead of `componentID`--they should be updated.

[2015-03-30 19:04] samreid opened #35 "Instrument another chemistry sim"
Before June we would like to have 2 physics + 2 chemistry sims instrumented.  We currently have good progress on:

* concentration
* color-vision
* faradays-law
* energy-skate-park-basics

Of this list, only concentration is chemistry, so we will need to pick another chemistry one.  On 3/27/15 I asked @kathy-phet what she recommends.

[2015-03-30 19:10] kathy-phet commented on #35
Build an Atom would be great if you are up for the challenge of instrumenting a game!

[2015-03-30 19:16] samreid commented on #35
Thanks for the quick reply @kathy-phet -- I think it would be good to do a game soon so we can make sure it is handled well.

[2015-03-30 22:19] samreid opened #36 "Create a live API interactivity page"
To demonstrate the capabilities of a sim's API, we could use a dynamic page that shows the API, with live updated values and ability to set values through an API interface.

[2015-03-31 02:03] samreid commented on #30
Well, the arch *repo* is deleted, but *arch.js* lives in in the together repo.

[2015-03-31 02:52] pixelzoom opened #37 "branch: phone"
@samreid what is the 'phone' branch of together?

[2015-03-31 03:42] samreid commented on #37
It was a prototype that used concord's iframe-phone for cross-frame communication.  It has been superceded by together-iframe-client.js.  I deleted the phone branch, closing.

[2015-03-31 03:42] #37 closed

[2015-03-31 17:26] pixelzoom opened #38 "branch: together-values"
Branch created for exploring how to set values for things that are not Number, String, Boolean (e.g., Solute in Concentration).

This branch is expected to be (possibly) merged to master, then deleted.

[2015-03-31 17:37] pixelzoom commented on #33
Discussed with @samreid and @jbphet on 3/31/15...

Use lowercase for primitive types (string, number, boolean) for consistency with JSdoc type expression conventions.

Use uppercase for non-primitive types (Property, Vector2,...)

[2015-03-31 17:39] samreid opened #39 "Move coerce functions to type declarations"
String => instance should be declared in the type declarations.

[2015-03-31 17:55] jbphet commented on #34
Note that this will actually be togetherID, not component ID.

[2015-03-31 22:14] samreid opened #40 "API files could specify which properties each UI component is linked to"
Right now there is no guarantee which properties will be fired by each UI component--which could lead to ambiguities in processing.  For instance, in concentration, changing solute type changes whether the shaker is visible or not, and that changes the soluteType property.  @pixelzoom is changing that to be more straightforward, but it could come up in other places.  In the API file, we may wish t

[2015-04-01 00:05] samreid opened #41 "Should we distinguish between Integral and Floating point types in the public API?"
Thought of this when I was writing the code to parse Number as parseInt('string',10) and realized it won't handle floating point.

[2015-04-01 03:38] samreid opened #42 "Provide custom formatting for arch messages"
When we switched to using real model instances in properties instead of just strings, we started getting arch messages that contained the entire state of model instances.  For instance, for Property(Solute), the newValue was coming through as a huge json object for the solute instance.  We should provide an option to format for arch messages.

[2015-04-01 03:52] samreid commented on #38
I used this branch as inspiration and worked directly in master.  Branch is gone, closing.

[2015-04-01 03:52] #38 closed

[2015-04-01 05:12] samreid commented on #42
This seems like it is working well, tested for Solute.  Closing.

[2015-04-01 05:12] #42 closed

[2015-04-01 05:13] samreid commented on #41
This seems like a great question for @pixelzoom

[2015-04-01 05:13] samreid commented on #39
We started doing this today and it is working well.  Closing.

[2015-04-01 05:13] #39 closed

[2015-04-01 05:15] samreid commented on #36
This would also allow us to easily test all of the features of a sim's together API and make sure they are wired up properly.

[2015-04-01 05:16] samreid commented on #32
We have made good progress on:

Concentration
Color Vision
Faraday's Law
Energy Skate Park: Basics

and just starting on
Build an Atom

[2015-04-01 05:17] samreid commented on #30
Today we agreed to move this to together.startEvent/together.endEvent.

[2015-04-01 05:17] samreid commented on #29
After discussion today, we decided to go with `togetherID`.

[2015-04-01 05:21] samreid commented on #26
Addressed in the linked issue above, closing.

[2015-04-01 05:21] #26 closed

[2015-04-01 05:23] samreid commented on #20
Perhaps calling together.addComponent in each level of the hierarchy, and successive changes can be applied?  Even better might be to override values that are passed as defaults to the instances so they are created correctly in the first place.

[2015-04-01 05:24] kathy-phet commented on #32
Sam,
Just to confirm priorities. The priority would be to make the 4 your have already made good progress on robust and tested. BAA will be a good addition as we mentioned with a game component, but is not a necessary addition for June if you need time to hone the others and make sure it is all working well.
Kathy

[2015-04-01 05:24] samreid commented on #16
We should see how strings are being done for i18n--I think there is a similar problem/pattern.

[2015-04-01 05:25] samreid commented on #32
Understood, thanks for clarifying.

[2015-04-01 19:14] samreid opened #43 "Should API types be implemented using inherit()?"
Currently our API type declarations are just data structures with their own superType and attributes, etc.  This makes it very easy to read and explicit about what is happening.  However, there are now several methods declared in the API types for converting to/from string and to/from JSON instances, and we are having to search the type hierarchy to see which instance to dispatch methods too (as w

[2015-04-01 19:25] samreid opened #44 "There are 42 TODOs in the code"
This issue is to remind us to address the 42 TODOs in the code.

[2015-04-01 19:52] samreid opened #45 "Perhaps create a tool that will check if everything appearing in the API file also appears in the sim"
Perhaps create a tool that will check if everything appearing in the API file also appears in the sim.  Could be useful in looking for stale/out of date api elements.

[2015-04-01 19:52] samreid commented on #45
Though it is unclear how much trouble it would cause if there *was* a stale entry in the API.

[2015-04-01 22:01] samreid commented on #43
First problem: these files are currently preload, so we cannot load inherit the conventional way.

[2015-04-01 22:06] samreid commented on #43
In fact, we cannot use inherit at all, since it is not created before preload.

[2015-04-01 22:07] samreid commented on #43
Still, this seems like a step in the right direction because it will give us flexibility in type method implementations and consistency with the rest of our codebase.

[2015-04-01 22:09] samreid commented on #43
For instance, Boolean currently reads like:

[code]

but using inherit it would become:

[code]

[2015-04-02 02:49] samreid opened #46 "branch: type-inherits"
for #43, investigation about using inherit() for type declarations.

[2015-04-02 02:51] samreid commented on #43
Tried using inherit/prototype and it had several issues.  It seems like inherit() is optimized for instance creation.  We need something optimized for type creation, that shares the benefits of subclassing/dynamic dispatch/method lookup from inherit.

I've also considered making the API declaration more of an interface, and using actual adapters to bind to existing instances.  For example, if we h

[2015-04-02 02:52] samreid commented on #43
If we go with the last approach in the previous comment, then using inherit is probably best, since we will be making calls on the wrapper objects.

[2015-04-02 02:54] samreid commented on #43
Note: for the branch mentioned above also requires this code for axon.Property:

[code]

[2015-04-02 04:32] samreid opened #47 "Prevent order dependency in api.js files?"
@jonathanolson suggested that having declaration order being important for dependencies in API files, that we could instead refer to type names instead of instances, and dynamically look up super types, thus allowing types to be specified in any order.  Not sure how important this will be, but every time we are bitten by an order dependency bug that is a vote for moving to this pattern.

[2015-04-02 04:44] samreid commented on #43
Looking at this with @jonathanolson we concluded inherit() is the wrong approach here.  The existing strategy seems good, or if dynamic lookups are too slow, using _.extend() to fill in subtypes when they are declared.

[2015-04-02 04:53] samreid commented on #47
@jonathanolson also said requirejs may be able to help avoid order dependency, like so:

[code]

[2015-04-02 20:19] pixelzoom commented on #41
Does seem like we need to differentiate between types of numbers.  How about replacing type `Number` with `Integer` and `Float`?

Does `Float` need a way of specifying how many decimal places?  Eg:

[2015-04-02 20:24] pixelzoom commented on #41
Or maybe the number of decimal places is a view-specific thing, because in concentration-api.js I see:

Though there have been sims where the number of decimal places has been constrained in the model. For example, see ph-scale.Solution.pHProperty, which is constrained to 2 decimal places in the model so that the sim matches "pencil & paper" computations done by the user with 2 decimal places.

[2015-04-02 21:14] samreid opened #48 "Remove model updating from playback sim in mirror"
Currently the mirror destination sim runs its own model clock to show things like photons moving (in color vision), but this causes problems for sims like Build an Atom and Energy Skate Park, where the downstream sim model competes with the incoming state.

[2015-04-03 03:48] samreid opened #49 "Simpler syntax for PropertySet componentIDs"
@pixelzoom previously avoided using PropertySet in Concentration in part because it is more of a hassle to assign componentIDs to constituent properties.  I ran into this issue in Build an Atom:

[code]

Note the comment: we could provide an option to pass in a componentIDContext and let PropertySet autogenerate all of the ComponentIDs.  However, this should only be done when *all* properties can

[2015-04-03 05:09] pixelzoom commented on #49
My avoidance is documented in https://github.com/phetsims/beers-law-lab/issues/91

[2015-04-03 05:12] samreid commented on #49
Thanks: the relevant line is:

Do you think the proposed alternative would work well?

[code]

[2015-04-03 05:21] pixelzoom commented on #49
I guess I'm not clear on what a componentIDContext is, since I haven't looked at code that uses it yet. This looks better cosmetically. But the condition ("all properties can & should be registered with together, and when all of their code names match the API names") seems pretty restrictive and liable to be impact coding decisions. Ie, need to do things a different way when 1 or more properties d

[2015-04-03 15:11] samreid commented on #49
Here's an alternative that avoids the overloading problem and avoids the problem (2) you mentioned:

[code]

[2015-04-03 15:28] samreid opened #50 "Move array features into TANDEM/ComponentIDContext"

[2015-04-04 02:01] samreid commented on #48
Done in 82866aac7615039bf97e3995e59ba2fcd0b7c914.  We now have to transmit model information for concentration solute granules, faraday model and color vision photons (if we want them in record/playback using save/load).  Closing.

[2015-04-04 02:01] #48 closed

[2015-04-04 02:13] samreid opened #51 "Cross platform testing"
Most of this development work has been done on OSX/Chrome.  We should allocate a significant amount of time to testing a wide variety of platforms--probably the same coverage as our current test matrix.  This is necessary because we are using a number of new technologies including iframe communications, nested query parameter parsing, etc. Even if we don't have all features on every platform, it w

[2015-04-04 02:53] #16 closed

[2015-04-04 02:54] samreid commented on #16
Done above, here is an example json:

http://localhost:8080/concentration/concentration_en.html?ea&arch.log=console&together.setValues={%22concentrationScreen.soluteForm%22:%22liquid%22%2C%22concentrationScreen.solidRadioButton.visible%22:false}

[2015-04-04 02:54] samreid commented on #16
I think it also works with %22 written as " (at least on chrome)

[2015-04-04 02:58] samreid commented on #28
This pattern is working well in Energy Skate Park: Basics and Build an Atom, see the API files and ComponentIDContext for sample usage.  Closing.

[2015-04-04 02:58] #28 closed

[2015-04-04 03:02] samreid commented on #29
I'm seeing 392 occurrences at the moment.

[2015-04-04 03:17] samreid commented on #29
Done above, seems good for now.  Will reopen if I spot any other occurrences.  Closing.

[2015-04-04 03:17] #29 closed

[2015-04-04 03:24] samreid commented on #30
Was about to work on this, but realized it is possible to run together.js with arch features off.  So we still need an independent test for whether to output a data stream.  It used to be:

arch && arch.start()

But now it would be something like:

together && together.eventStream && together.startEvent()

I'm seeing 48 or so instances of this pattern at the moment.

Related note: if we want to en

[2015-04-04 03:29] samreid commented on #30
Perhaps

[code]
could be

[code]
 or
[code]

[2015-04-04 03:30] samreid commented on #30
Can I get some votes from @pixelzoom @jbphet @jonathanolson @aaronsamuel137 on the above choices before I start work here?  This pattern will be pervasive and I only want to do this refactor once.

[2015-04-04 03:39] samreid commented on #33
I'm presuming array should stay as lowercase, since function is lowercase in JSDoc.

[2015-04-04 03:57] samreid commented on #33
Work completed above, closing.

[2015-04-04 03:57] #33 closed

[2015-04-04 03:57] samreid commented on #50
Because an array is just another kind of context as far as together is concerned.

[2015-04-04 04:00] samreid commented on #43
The current approach seems like it is doing well. Closing.

[2015-04-04 04:00] #43 closed

[2015-04-04 04:01] samreid commented on #46
#43 closed and branch deleted, closing.

[2015-04-04 04:01] #46 closed

[2015-04-04 04:02] samreid commented on #45
Possible the main trouble would be confusion for 3rd parties trying to interoperate with the sim or understand data stream.

[2015-04-04 04:03] samreid commented on #41
Perhaps we should leave the type as Number for a good impedance match with JS and just annotate the types in the metadata, whether it is going to be integral or floating in practice.

[2015-04-04 04:08] samreid commented on #49
At the moment, I'm leaning toward abandoning componentIDMap and adopting (experimenting with?) the last mentioned approach.  And possibly calling it "properties"--instead of "propertiesWithIDs".  It should be "propertiesWithOptions" but since it already appears in the options object, perhaps that is extraneous.   Also, this pattern could lead to numerous cases with {} for primary argument, such as

[2015-04-04 16:16] pixelzoom commented on #49
The first parameter also enumerates properties (without IDs) so I don't like calling the 2nd parameter "properties". Perhaps "togetherProperties", to indicate that these are the properties that will be registered with together?

As for the approach itself... I don't like the fact that you need to move property definitions to a different PropertySet arg when you instrument a sim. But this seems to

[2015-04-04 16:17] pixelzoom commented on #49
Assigning to @jonathanolson for input. Would be great to hear from @jbphet and @aaronsamuel137 too.

[2015-04-04 16:23] pixelzoom commented on #30
The first 2 have a double short-circuit, which is too verbose, I'd prefer a singe short-circuit.

together && together.events && together.startEvent()

The 3rd one I don't like because the short-circuit (togetherEvents) has a different name than the call (together.startEvent).

How about a separate global for the data-stream portion of together? Eg:

[2015-04-04 16:24] pixelzoom commented on #41
That sounds worth trying.

[2015-04-04 19:00] samreid commented on #49
We could use a heuristic that "Any object passed to PropertySet that has exactly two properties which are `value` and `togetherID`" will be registered with together."  This seems like it would have a very low false positive rate, and wouldn't require moving things to different arguments when instrumenting a sim (though it does involve pushing a new object {}).  I'm still not sure which of the seve

[2015-04-04 19:03] samreid commented on #30
That seems pretty nice.  And arch.js could get renamed to togetherEvents.js.  But if the variable is already called togetherEvents, then I think instead of `startEvent` and `endEvent` it would be nicer to just say `start` and `end`.

[2015-04-05 02:09] samreid opened #52 "Can fromQueryParameterString be replaced by fromJSON?"
Can fromQueryParameterString be replaced by fromJSON?  Now that query parameters are loading as json, this may be possible.  Would be very helpful to get rid of the fromQueryParameterString functions.

[2015-04-05 02:14] samreid opened #53 "setState all at once vs setState incrementally"
When configuration is supplied via query parameters, they take effect as components are created.  If using query parameters for save/load, then this will be different than the strategy of loading the entire sim then applying the entire state all at once.  Initial investigation with Faraday's Law save/load used incremental loading for entire state, and it seemed like it worked well.  However, I am

[2015-04-05 02:24] samreid commented on #53
One possibility we could experiment with: together.values sets values incrementally, and together.state sets entire state using together.setState().  One issue is the loading order.  When using together.values, the order customizations is applied is in the order in which elements are created.  When using together.state, it follows the order specified in the API file.

[2015-04-05 02:29] samreid commented on #52
I tried replacing fromQueryParameterString with fromJSON everywhere and all tests passed.  This is a good sign.  I can't commit yet since I have other in-progress changes in the same files.

[2015-04-05 02:34] samreid commented on #52
Looks great, nice work.  Closing.

[2015-04-05 02:34] #52 closed

[2015-04-05 16:27] aaronsamuel137 commented on #49
I like the approach of passing two objects, with one change - it seems like we could dispense with the extra field for ```propertiesWithIDs``` in the second object, i.e.:

[code]

As long as we document this API, I don't see this as being too confusing, and it will keep the code a little more concise.

[2015-04-05 17:23] pixelzoom commented on #30
That sounds good.  Other developers opinions?

[2015-04-05 17:26] aaronsamuel137 commented on #30
```togetherEvents && togetherEvents.start(...)``` sounds good to me.

[2015-04-05 22:08] samreid commented on #49
I'd like to reserve an `options` space for PropertySet, and passing togetherID through options is the convention elsewhere.

Just wanted to note that I have used togetherIDMap and it doesn't seem that bad--seems like a close match for other togetherID usage.

[2015-04-06 05:03] samreid commented on #23
Here is some throttling code that filters out the common offenders (user drag, or model changed):

[code]

[2015-04-06 06:13] jonathanolson commented on #30
Global togetherEvents seems good.

[2015-04-06 06:18] jonathanolson commented on #49
As far as our needs go, adding the 2nd parameter to PropertySet's constructor sounds like the most useful and unambiguous.

I'd just like to note my personal preference that I'm still a bit concerned about the level of coupling between axon and together. I don't know the details of how things work currently, but I'd love to see it structured so that together is just one of the clients that could r

[2015-04-06 14:21] samreid commented on #49
We should meet about this soon, since our design here will impact several projects with imminent deadlines.  I agree it would be beneficial for togetherEvents to just be a normal listener for instances, but that would make it more difficult to track nested events.  Would be great to discuss it together.

[2015-04-06 14:27] samreid commented on #23
Perhaps a flexible way to proceed with filtering would be to enable filtering options with query parameters?

[2015-04-06 14:29] samreid commented on #49
By the way, let's promote the last 1.5 comments to a new issue.

[2015-04-06 14:30] samreid opened #54 "togetherMessages should use built-in listener support"
@jonathanolson said in https://github.com/phetsims/together/issues/49#issuecomment-89943101

[2015-04-06 14:30] samreid commented on #54
We should meet about this soon, since our design here will impact several projects with imminent deadlines. I agree it would be beneficial for togetherEvents to just be a normal listener for instances, but that would make it more difficult to track nested events. Would be great to discuss it together.

[2015-04-06 14:31] samreid commented on #54
Using built-in listener support could remove some together.js-related complexity in Property, sun components, sim code, etc.

[2015-04-06 16:23] jbphet commented on #30
+1

[2015-04-06 17:22] samreid commented on #54
In discussing this with @pixelzoom we identified this problem.  Imagining a button that changes the visibility of something in the sim, and that a visibleProperty is already wired up as a listener.  Then if togetherEvents adds a listener afterwards, the listeners would be in this order:

      // visibleProperty listener 0
      // arch property listener 1

Hence the messages coming out would say

[2015-04-07 20:17] samreid commented on #23
At today's meeting @kathy-phet suggested a query parameter that simply filters out intermediate messages.  And perhaps on dragEnd, perhaps we could also include a summary max/min.

[2015-04-07 20:24] samreid commented on #23
@kathy-phet doesn't think this needs to be implemented before May 22.  First focus on getting the entire data set.

[2015-04-07 22:38] samreid opened #55 "Add the ability to invoke methods"
We should add the ability to call methods through the iframe API.

[2015-04-08 16:41] samreid opened #56 "constructor.name fails for compiled versions"
constructor.name fails for compiled versions, name is mangled.  We cannot use this for export/import.  There are occurrences of this in together/ and well as a few of the instrumented sims.  Must be fixed before we publish any togetherJS sims using these features.

[2015-04-08 17:38] pixelzoom commented on #56
I don't understand this description. Can you clarify?

[2015-04-08 21:43] samreid opened #57 "postMessage order is not guaranteed?"
@jbphet & I noticed sighted several instances that suggested iframe messages were appearing out of order.  A quick search on the web suggested that window.postMessage receipt order is not guaranteed to match the send order.  We suspect this is causing a "received delta without receiving initial state" sometimes in phet-metacog.html.

@jbphet & I discussed moving toward a "one iframe-client per ifr

[2015-04-09 04:58] samreid opened #58 "One iframe client per iframe"
Currently, one iframe client manages messages from multiple iframes.  It could simplify things considerably, and help us do message order checking if we switch toward one client per frame, see #57.  Commit forthcoming.

[2015-04-09 16:08] samreid opened #59 "Add sample processing utilities"
It would be good to create sample postprocessing applications that demonstrate how to analyze the event stream data.

[2015-04-09 16:15] samreid opened #60 "Publish an enhanced version of concentration"
We will be able to link to it as an example.

[2015-04-09 16:15] pixelzoom commented on #59
It would be better for filtering to live in post processing, rather than in the data collection.

[2015-04-09 16:19] pixelzoom commented on #23
I disagree with doing filtering at the time of data collection (e.g., via query parameters or other "switches" specific to filtering).  All data possible should be collected during data collection; you can't go back and collect missing data after the fact. Filtering should be done in post-processing.  If someone thinks that it's necessary in data collection, it's probably due to a problem with the

[2015-04-09 16:21] pixelzoom commented on #60
What is "an enhanced version of concentration"?

[2015-04-09 16:26] samreid commented on #59
Agreed, but even more flexible may to design it so that it can easily be plugged into either phase, with our recommendation that it should be used in postprocessing if possible.

[2015-04-09 16:28] samreid commented on #60
With the together feature set bundled into the application.  @pixelzoom do you have strong feelings about where/how it should be published?  I was thinking of deploying it on spot, and versioning it with a name like 1.1.0-together.1 using the same build/deploy tools we use for normal dev deployments.

[2015-04-09 16:29] pixelzoom commented on #59
As I wrote in https://github.com/phetsims/together/issues/23#issuecomment-91279265:

[2015-04-09 16:30] samreid commented on #59
I suspect bandwidth concerns and project-specific requirements may require some pre-filtering, unless we can find a way around those problems.

[2015-04-09 16:39] ariel-phet commented on #59
Just to register my opinion here - I have already told this opinion to @kathy-phet - but I am in total agreement with @pixelzoom. Personally, I think all (and I mean *ALL*) filtering/post-processing etc should be the responsibility of someone using the data and not fall in our wheelhouse.

I fear a slippery slope here, where we provide some filters, then people see that as something we do, and the

[2015-04-09 16:49] pixelzoom commented on #59
@ariel-phet wrote:

Assuming PhET wants to bear the cost (which will be significant), I think it's fine to provide filtering utilities and examples. But filtering should be applied to *collected data*, not applied at the time of data collection.

[2015-04-09 16:51] pixelzoom commented on #60
1.1.0-together.1 on spot sounds good.

Should we add a `--together` option to the build process that adds the necessary files to the built HMTL file?

[2015-04-09 16:53] pixelzoom commented on #60
1.1.0-together.1 on spot sounds good.

How do you plan to build something with together enabled? Should we add a `--together` option to the build process that adds the necessary files to the built HMTL file?

[2015-04-09 19:04] samreid commented on #56
@jonathanolson said that when the sim is compiled, uglify2 mangles the constructor.name.  I was trying to use constructor.name==='DerivedProperty' in together, to see if something needed to be restored when loading a sim.  But it was always reporting false, and I suspected that constructor.name wasn't working properly.  I saw a few constructor.name occurrences throughout our repo, so wanted to rai

[2015-04-09 19:11] samreid commented on #23
So hence we should focus our efforts on batching/compression to make sure bandwidth is not an issues?

[2015-04-09 19:38] samreid commented on #60
In the long term, perhaps a grunt option would be nice.  For now, the together branch of each repo should contain the additional scripts in the html and package.json files (currently only true for concentration).  But this current approach makes merging branches a pain :(

[2015-04-10 00:49] samreid commented on #60
Issues we'll need to address for publishing this sim or other togetherjs sims: the "terms & conditions" link in the about dialog should be removed and the custom license wording should appear in the HTML file.

[2015-04-10 00:52] samreid commented on #60
Here is the code in AboutDialog.js that adds the "terms & conditions" link:

[code]

We could either (a) have together sims use a different Brand repo, or a Brand branch or (b) add custom logic here to handle this special case.  I guess I'm leaning toward a brand branch.

[2015-04-10 00:58] samreid commented on #60
Added a `together` branch for the brand repo above, it will have to be used when publishing together sims.

[2015-04-10 01:00] samreid commented on #60
This text is still appearing in the human-readable HTML header, and should be removed since it conflicts with the together license:
http://phet.colorado.edu/en/about/licensing

[2015-04-10 01:01] samreid commented on #60
Here is the code in chipper that is adding that line of code we shouldn't have:

[code]

Should we add a switch to grunt to disable that line?  @jonathanolson @jbphet @pixelzoom @aaronsamuel137?

[2015-04-10 02:28] samreid commented on #60
For now, I manually stripped out the offending line and published a version here:
http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-together.1/concentration_en.html

[2015-04-10 02:39] samreid opened #61 "Blocked a frame with origin "http://localhost:8080" from accessing a cross-origin frame"
We should look into why this error is happening:

Workaround for now is to use same domain.

[2015-04-10 14:31] samreid opened #62 "Serve lodash or remove need for it"
Hiroki @ WISE/Berkeley reported that some schools cannot load lodash from the CDN.  We should either bundle it, serve it ourselves, or remove the need for it in client code.

[2015-04-10 15:00] samreid commented on #55
Seems like invoke is working nicely, I'm using it to power screenshotting as a demo.  Closing.

[2015-04-10 15:00] #55 closed

[2015-04-10 16:10] samreid opened #63 "Add comments for null togetherID declarations in options"
@jbphet suggested adding a comment to each togetherID declaration in the options explaining why it is set to null in the defaults.  The reason is just to document their existence and that they are handled by each class.  It would work equally well to *not* declare them in the defaults, since their value would come up as undefined in the `togetherID && ...` check.

[2015-04-10 16:58] ariel-phet commented on #24
I believe our thought was always to have a couple of enlightening examples (perhaps 3 or so) that are well documented and show the idea of how you could filter or analyze data. The deeper idea being that if we "seed" with a couple of examples we might be able to encourage groups that use our software to contribute back filters they have come up with and have a community pool of such tools, but wit

[2015-04-10 17:59] samreid opened #64 "Add ability to listen for button presses"
I had to add this hack (uncommitted) to RectangularPushButton to make it work with the rest of together:

[code]

It would be better if we could abstract this away into together.

[2015-04-10 19:39] samreid commented on #62
Looks like only one reference to _ in SimIFrameClient, for _.extend.  We could easily hack our own here.

[2015-04-10 19:41] samreid commented on #62
Only one reference in datamite.js `var keys = _.keys( criteria );` which we could also easily replicate.  So I guess I'm leaning toward ditching lodash for our wrapper matter for now.

[2015-04-10 19:56] samreid commented on #31
I shared the following Road Map to Doug today:

Current Road Map
Remaining issues for us to work on in the future are enumerated here:
https://github.com/phetsims/together/issues
https://github.com/phetsims/phet-metacog/issues
In my opinion, the highest priorities for future work in together/issues are:
#30 (internal implementation fixes)
#51 (cross platform testing)
#23 (throttling/filtering)
#59

[2015-04-10 19:56] #31 closed

[2015-04-10 19:57] samreid commented on #34
I made it pretty far in this issue, only 2-3 examples left that are using the old methodology.  They are marked with TODO in the readme.md.

[2015-04-10 19:58] samreid commented on #64
Implemented in f4e9ca471f8d02a45963f981cb42d3af8dcd5337 in a way that will also scale up to axon events.  Closing.

[2015-04-10 19:58] #64 closed

[2015-04-10 19:58] samreid commented on #58
This seems like it is working great, closing.

[2015-04-10 19:58] #58 closed

[2015-04-10 20:02] samreid opened #65 "Improve relationship between addEventListener and togetherEvents"
Currently addEventListener (single events) and togetherEvents (firehose of all events) don't share much in common, aside from being able to check that the event names match.  togetherEvents is structured to nest/cascade, and addEventListener just adds to the end of the list.  Should we try to unify these?  If so, how?

[2015-04-11 02:00] samreid opened #66 "Many of the SimIFrameAPI features should move into Common.js method declarations"
For instance, addEventListener, linkProperty, maybe even setState/getState/applyDelta/etc should be moved into methods.  We can still add in convenience syntax for calling common methods like those, but perhaps they should be powered by invokeMethod, which looks like a scalable and flexible approach.

[2015-04-11 02:37] samreid opened #67 "Improve relationship between addEventListener and togetherEvents"
Currently addEventListener (single events) and togetherEvents (firehose of all events) don't share much in common, aside from being able to check that the event names match.  togetherEvents is structured to nest/cascade, and addEventListener just adds to the end of the list.  Should we try to unify these?  If so, how?

[2015-04-11 03:18] samreid commented on #66
The above commit cc42117 shows a concise example of how to transform a built-in command to an invokeMethod function.

[2015-04-13 01:46] samreid commented on #5
The US Department of Education just endorsed the xAPI in the 2105 "Ed Tech Developer’s Guide", see page 55 http://tech.ed.gov/files/2015/04/Developer-Toolkit.pdf

[2015-04-13 01:48] samreid opened #68 "Should we use scenery input events for record/playback?"
When we discussed showing all UI component interaction, such as combo box pop ups, button highlighting, etc, @jonathanolson suggested the best way to achieve it may be to record scenery input events and play them back into a live scenery instance.

Until now, we have been using state save/restore functionality, which is good because it is a feature we want to support in the long term, but it doesn

[2015-04-13 14:50] samreid opened #69 "Events should be an array in API files"
Events currently is a map of string=> string, but each string is itself, so we should arrayify it.:

[code]

[2015-04-13 15:05] samreid commented on #17
I can't figure out where this is happening in chipper, @jonathanolson or @pixelzoom can you help?

[2015-04-13 15:10] samreid commented on #25
Whether we do it now or later, untangling save/load from the rest of together.js will be a big mess.  Not sure if we can circumvent a technical complication via changes to our license for together.js.

[2015-04-13 16:23] samreid opened #70 "Named arguments for method declarations?"
Currently method declarations use an array of args.  Would be better to use traditional named method arguments.  If this is not possible, perhaps an options object for named args.

[code]

[2015-04-13 16:29] samreid commented on #61
Perhaps the error is happening on this line:

[code]

And we could find another way to check whether the message is coming from the right frame.

[2015-04-13 16:31] #61 closed

[2015-04-13 16:38] jonathanolson commented on #17
See globalDefs in the main Gruntfile (line 56). Those global variable replacements are made (for implicit global reads, not for writes) before minification, then minification will strip the lines. Try adding "arch: false" to there.

[2015-04-13 17:12] samreid opened #71 "Rename Common.js to TogetherCommon.js"

[2015-04-13 17:16] samreid commented on #67
Duplicate of #65, closing.

[2015-04-13 17:16] #67 closed

[2015-04-13 18:55] samreid opened #72 "Move together features out of scenery/axon/sun/etc."
@jonathanolson suggested moving together features out of scenery/axon/sun/etc.

For instance, in Property, we could have:
this.trigger0( 'startedNotifyingObservers' );
...
this.trigger0( 'endedNotifyingObservers' );

And instead of component registration being in base classes such as RadioButton, we would have
[code]

He also suggested making components composite, such as ComboBox would just appea

[2015-04-13 19:02] samreid commented on #72
About performance:

arch && arch.start() would get stripped out

But:
this.trigger0('startedProcessingDragStartedListeners');
this.trigger0('endedProcessingDragStartedListeners');

Would not be able to be stripped out.  So we would want to make sure that it is OK to add 2+ new axon triggers for *every* drag event.

[2015-04-13 19:05] samreid commented on #72
@jbphet said we could still use a global directive for stripping out those values, like "dc" for data collection, if we discover that performance is an issues.

dc && this.trigger0(...)

[2015-04-13 19:41] samreid commented on #72
We could even move the together&&together.addComponent() out of the sim code--perhaps make it part of a sim object registry that together can listen to.  Then there will be no together references in the sim code or the sim common libraries.

[2015-04-14 00:16] samreid commented on #72
I think this is a good suggestion and am planning to move forward with it.

[2015-04-14 02:18] samreid opened #73 "API type declarations should use inheritance and wrap sim instances"
I think things would get a lot simpler if we created adapter wrappers for each sim instance that is instrumented, which has the desired together API.  Rather than calling static methods and passing in the instance as the first argument, and creating a whole bunch of new conventions to support it all.

[2015-04-14 02:22] samreid commented on #72
One more step in isolating/modularizing the together code could be: create a registry for each sim screen where objects can "register" themselves with that screen.  This would be part of joist.  Then together could observe that registry to add together-specific listeners. handling, support, etc.

[2015-04-14 02:24] samreid commented on #72
I said screen above since I thought we might be able to auto-associate elements with their screen--however, I'm not sure how this would work and perhaps association at the sim level (instead of the screen) level would be more practical.

[2015-04-14 02:26] samreid commented on #73
If we do this, then instead of Type.componentAdded(component) it would be new Type(component), with an appropriate dispose method.

[2015-04-14 04:03] samreid commented on #20
If we proceed with #72 then all together registration calls will be done on completed objects, which will simplify this issue significantly.

[2015-04-14 22:32] samreid commented on #73
I've been experimenting with this, and it is simplifying many things.  Commit is imminent.

[2015-04-14 22:33] samreid commented on #73
I sent out this email regarding this and #72:

[2015-04-14 22:33] samreid commented on #72
I sent out this email regarding this and #73:

[2015-04-14 22:37] samreid commented on #72
Since I don't want to tangle with branches from 6 repos, I'm just trying to get my working copy changes to a point where I can commit them all to master with low enough risk that we can continue in master.

[2015-04-15 04:28] samreid commented on #49
Yet another issues that will be eliminated by #72, it seems.

[2015-04-15 04:42] samreid commented on #73
I committed this above, and it is making things much nicer.  Some loose ends to convert to this strategy in Common.js and individual sim files.

[2015-04-15 04:44] samreid commented on #72
I committed the largest part of this refactor above.  Common libraries and beers-law-lab are passing JSHint, and I tested Reactants Products and Leftovers and Beers Law Lab and didn't see any obvious trouble.  The changes above should be reviewed and discussed at some point--we should discuss who should review and how much time to spend on it at an upcoming developer meeting.

[2015-04-15 05:26] samreid commented on #72
In the above commit, faradays-law is back to full feature set for mirroring + data stream.

[2015-04-15 05:38] samreid commented on #49
I think #72 has eliminated this problem.  For instance, instead of:

[code]

We will now do:

[code]

[2015-04-15 05:38] #49 closed

[2015-04-15 19:06] samreid commented on #56
@jbphet & I also discovered this will bite us when it comes to reporting component type in the togetherEvents output.  We verified that it works great in the requirejs version but returns type = '' for everything in the minified version.  We'll need a new strategy here, hopefully one that doesn't have us duplicating the name too many times :(

[2015-04-15 20:26] samreid commented on #56
Fixed above, we will be using WrapperType.typeName now instead of Function.name since that is removed during compilation.

[2015-04-15 20:26] #56 closed

[2015-04-15 22:49] pixelzoom commented on #72
#72 and #73 sound like big changes in approach, and those changes aren't clearly described in the issues. And since I'm on vacation, I don't have the tools necessary to dig around in code to formulate a picture of what's changed. So I'll trust that these changes are a really good thing and don't paint us into any corners (although statements like "ComboBox would just appear as a single UI componen

[2015-04-15 23:11] samreid opened #74 "Unify nomenclature for the trigger events"
The trigger events that arch is listening to have a variety of different names such as fireStarted, etc.  We should unify, and I recommend using the nomenclature `startedCallbacksForEVENT` where the event matches the name of the event that is being fired.

[2015-04-15 23:54] samreid opened #75 "Factor out abstractions & duplicated code in Common.js"
Wiring up for arch has this pattern:

[code]

This pattern occurs in many places and may wish to be factored out.

[2015-04-16 01:46] samreid opened #76 "Should messages come from RadioButtonGroupMember or RadioButtonGroup?"
It is unclear whether it will be better to treat RadioButtonGroup as a single large component (which worked well for ComboBox) or as individual buttons, as we have done previously.

[2015-04-16 05:10] samreid opened #77 "Provide a feature that ensures all UI components are instrumented"
One downside of #72 is that it is more difficult to guarantee that all UI components are instrumented.  Perhaps we could add a feature that checks for this--every sun/scenery-phet/etc component could register itself with a UI component registry (perhaps one for each repo), then on each frame we could check whether those components appear in the together map.

[2015-04-16 15:23] pixelzoom commented on #76
+1 for individual buttons. The fact that they are a single component is an implementation detail.  From the user's viewpoint, they are individual/related buttons.  And they should behave the same as radio buttons that are not part of a group.

[2015-04-16 15:27] pixelzoom commented on #76
Also want to register a bit of concern about the single-component approach used for ComboBox.  We will want to continue implementing compound UI components can be treated atomically from by the programmer, but which (from the user's viewpoint) have individual parts.  Existing examples include scenery-phet.ConductivityTesterNode, meters like in Concentration, tape measure,... Future examples includ

[2015-04-16 17:01] samreid commented on #20
Waiting until the object is completely created before applying changes is working great, thanks to #72.  Closing.

[2015-04-16 17:01] #20 closed

[2015-04-16 17:04] samreid commented on #17
Now that #72 has moved from arch=>trigger, we are wondering if we should strip those triggers out too.  Profiling should tell us the answer here.

[2015-04-16 19:17] samreid opened #78 "Rename together.addComponent => together.register and transpose args"
Rename together.addComponent => together.register and transpose args.

[2015-04-16 19:19] samreid opened #79 "Scenery-phet component should register themselves for together"
Together features will be out of axon & sun, but in joist & scenery-phet.

[2015-04-16 19:33] samreid commented on #79
This will help us maintain encapsulation and protect us from cases in which a new button is added, say, to a voltmeter, and we need to iterate over all clients of the voltmeter.

[2015-04-16 19:53] samreid commented on #79
Consider adding separate elements for each added in subclasses, like:

[code]

This may help us keep encapsulation, register components where they are created, etc.

[2015-04-16 20:06] samreid commented on #23
@pixelzoom clarified: the filtering can happen in the parent frame before the data is stored.  That sounds great to me.  We can still use coarse filters such as "emitStates".

[2015-04-17 04:21] samreid commented on #25
At today's meeting, @kathy-phet said she would like to wait a year or so to see how this suite of features is received by our users, before splitting things up.

[2015-04-17 04:25] samreid commented on #53
I marked this with the "Desirable" milestone, but more for discussion than implementation.

[2015-04-17 04:26] samreid commented on #54
Handled in #72, closing.

[2015-04-17 04:26] #54 closed

[2015-04-17 04:27] samreid commented on #57
Well, we are checking the order now.  If we ever see out of order messages, we can reopen this issue and add buffering to resort the messages.

[2015-04-17 04:27] #57 closed

[2015-04-17 04:28] samreid commented on #63
We aren't doing togetherID options any more thanks to #72, closing.

[2015-04-17 04:28] #63 closed

[2015-04-17 04:28] samreid commented on #65
These issues are much more uniform after #73, closing.

[2015-04-17 04:28] #65 closed

[2015-04-17 04:29] samreid commented on #66
This approach has been working nicely and we should continue with it as time permits.

[2015-04-17 04:30] samreid commented on #68
I'll mark this in the desirable milestone but only because we should discuss it soon.  Implementation not necessary for any of our summer deadlines.

[2015-04-17 04:30] samreid commented on #69
Fixed during #73, closing.

[2015-04-17 04:30] #69 closed

[2015-04-17 04:30] samreid commented on #70
Fixed during #73, closing.

[2015-04-17 04:30] #70 closed

[2015-04-17 04:34] samreid commented on #72
Well, in #79 we decided that scenery-phet and other phet-specific libraries should register components.  Axon, Sun, Scenery and other "general" libraries will instead provide an alternative way to do this.

At today's meeting we discussed the alternative approach of making its constituents available for clients to use.  But this seems unsatisfying since it breaks encapsulation and differs from the

[2015-04-17 04:35] samreid commented on #73
This has been working great and solved numerous problems.  Fine tuning will follow in subsequent issues/commits but the big picture is done, closing.

[2015-04-17 04:35] #73 closed

[2015-04-17 04:36] samreid commented on #76
I'm going with "combobox is a single component" and "radio button group is a group of components" and it seems like it is working nicely.  We'll have to decide on a component-by-component basis as we proceed, and may wish to treat sun somewhat differently than scenery-phet (or downstream).  Closing.

[2015-04-17 04:38] samreid commented on #77
In #79 we discussed adding in component registration to scenery-phet and other phet-specific (non-general libraries).  That will help this issue somewhat, but perhaps we should still add features into sun to help with this.

[2015-04-17 04:47] kathy-phet commented on #25
Changed title of this issue - hope that doesn't mess anyone up.

[2015-04-17 04:52] samreid commented on #25
Thanks @kathy-phet, the change looks good.

[2015-04-17 10:00] samreid opened #80 "Create a sun component registry"
Inspired by #72 #79 and #77, I'm considering adding a "sun component registry" that would work like this:

(1) There would be a file like this which keeps track of all allocated sun instances:

[code]

Here is an alternative implementation that may work equally well:

[code]

(2) When each sun instance is allocated, at the end of its constructor, it calls:

[code]

This will make it possible to do

[2015-04-17 10:11] samreid commented on #80
One more thought about how this issue pertains to (Improve the pattern for customizability #20, the issue regarding customizing partially constructed objects).  If we consider each element added through an inheritance hierarchy as a separate entity--registered separately with the sun registry--then it will additionally solve the "partially constructed object" issue.  For instance, if TextButton ex

[2015-04-17 10:11] samreid commented on #20
Reopened while we are discussing #80

[2015-04-17 10:26] samreid opened #81 "Use Events.onStatic instead of Events.on"
Using Events.onStatic instead of Events.on in Common.js should prevent extra work (array allocation) for CPU/memory/GC when dispatching callbacks.

[2015-04-17 10:51] samreid commented on #76
Reopening.  If we go with #80 or having components register themselves as in #79 then ComboBox item buttons should register themselves as separate buttons.

[2015-04-17 15:29] jbphet commented on #60
We also need to change the license field value in package.json from "GPLv3" to the text from the license file in the together repo, see https://raw.githubusercontent.com/phetsims/together/master/LICENSE.

[2015-04-17 16:03] jbphet commented on #60
The steps necessary as of this moment are documented here: https://github.com/phetsims/together/blob/master/doc/publishing-a-sim.md.

[2015-04-17 16:05] jbphet commented on #60
Since the steps are now documented, this issue will be closed.

[2015-04-17 16:06] jbphet commented on #32
The steps necessary for deploying a together-enhanced simulation are described here: https://github.com/phetsims/together/blob/master/doc/publishing-a-sim.md.

[2015-04-17 17:01] samreid commented on #80
Just thinking of what else we may wish to use a sun component registry for.  Perhaps it could help us guarantee that we properly dispose() of all created sun components that need to be disposed.

[2015-04-17 17:23] pixelzoom commented on #57
@samreid I'm having trouble grok'ing the above comment. Probably a typo. "resort the messages"?

[2015-04-17 17:28] pixelzoom commented on #73
@samreid Related to this, is there an issue that deals with verifying that clients access only permitted fields?

[2015-04-17 17:30] pixelzoom commented on #25
As mentioned above, related to (or duplicate of?) https://github.com/phetsims/joist/issues/103.  Support for save/load, and generalization of that feature, has already come up in the context of the "basic" version of sims.

[2015-04-17 17:31] samreid commented on #57
"sort them again"

[2015-04-17 17:33] pixelzoom commented on #66
@samreid Doc for Common.js looks like it's possibly out of date. ("Together.js provides an API for accessing...").  Can you please revise and include information about what the responsibilities are for Common.js.  That will help us decide whether it's appropriate to move something from SimIFrameAPI.js to Common.js.

[2015-04-17 17:37] pixelzoom commented on #60
Reopening. I'm confused by the first step of the instructions:

At yesterday's meeting, we said that "enhanced" versions would be published out of the same branch as "basic" versions.  Why do we need a "together" branch?

[2015-04-17 17:38] jbphet commented on #60
Enhanced version of beaker (stripped down Concentration) can be seen here, included a test wrapper: http://www.colorado.edu/physics/phet/dev/html/beaker/1.0.0-together.1/

[2015-04-17 17:40] jbphet commented on #60
The long term plan is to have them published from the same branch, the short term plan is to use branches.  This will allow the approach to solidify before touching too much master branch code.

[2015-04-17 17:44] pixelzoom commented on #57
Ah, re-sort: http://www.merriam-webster.com/dictionary/re-sort

Thanks.

[2015-04-17 17:46] pixelzoom commented on #60
Still confused... The 'together' branch of concentration was merged into 'master'.  So how do the instructions relate to publishing concentration?  Are you planning to re-create a 'together' branch?

[2015-04-17 17:59] pixelzoom commented on #60
Mea culpa.  There is a "together" branch of concentration. There is not a "together" branch of beers-law-lab, which is where 99% of the code for concentration lives.   So why does "together" code live in beers-law-lab "master", and what is different about the "together" branch of concentration?

[2015-04-17 19:08] pixelzoom commented on #80
Comments:

(1) This approach seems to assume that every component added to the sun registry will also be registered with together. I'm not convinced that that is always desirable.

(2) Presumably the context will be an option to the constructor, and it's default will be null. Should together throw an Error when it attempts to register a component with null ID? Or should together ignore components

[2015-04-17 19:09] pixelzoom commented on #80
Assigning to @jonathanolson, since he was next on @samreid's feedback request list.

[2015-04-17 19:31] samreid opened #82 "Clients should only be able to customize permitted fields"
Currently any feature of Node can be customized through query parameters.  We should filter this so that only approved fields can be customized.

[2015-04-17 19:31] samreid commented on #73
I just created https://github.com/phetsims/together/issues/82

[2015-04-17 19:44] samreid commented on #80
Here's an alternative to the sun component registry:

Add an optional parameter to sun components which is a function that gets called when components are created.

For instance, say HSlider has a track and knob.  Then at the end of HSlider constructor, it would do something like:

[code]

Then the sim code that creates the HSlider can listen for these callbacks and register the components with to

[2015-04-17 19:48] pixelzoom commented on #82
Ditto for all together "types".

[2015-04-17 20:28] samreid commented on #66
I updated the docs above.  Here is a list of the SimIFrameAPI commands:

ping
addTogetherEventsListener
setState
getState
applyDelta
invokeMethod
getValue
getValues
setValue
simIFrameAPIInitialized

I am thinking we should eliminate the "command" argument and use invokeMethod for everything (and perhaps after that rename invokeMethod to invoke or command).  Most of the features above can become me

[2015-04-17 21:08] jbphet commented on #35
This was discussed today with @kathy-phet, and she suggested that we instrument Molecules and Light as the 2nd chemistry sim, which should be relatively easy, and then work on Build an Atom.  We should work on the non-game screens of BAA first, then the game.  We can then either provide Metacog with no BAA, BAA with the non-game screens instrumented, or BAA with full instrumentation, depending on

[2015-04-17 21:12] jbphet opened #83 "create a filtering demo"
On two occasions now @samreid has demonstrated a way of doing filtering in the iframe to reduce the number of messages seen by the user.  Both times, this seemed to quell the frequently-mentioned concerns about the quantity of data being sent up by the simulations.  It might save us a lot of time if we built a demo of this, with the ability to turn on/off the filtering of drag events through a con

[2015-04-17 22:17] jbphet commented on #35
@kathy-phet said that Acid-Base Solutions (ABS) is another simulation that would be good for this.  She had a slight preference for it over Molecules and Light, since ABS is a bit more clearly a chem sim, but left it up to the development team to decide which of the two to do based on ease of implementation.

[2015-04-17 22:31] pixelzoom commented on #83
+1

[2015-04-17 23:14] samreid commented on #60
I broke up the URL above in case we don't want those to be reached through web crawlers or too public.

[2015-04-17 23:15] samreid commented on #60
The together branch just contains the additional preload script references, and the different version number.

[2015-04-20 18:49] samreid opened #84 "Should this repository be private?"
Now that we are further along, we should ask if this repository should become private.  At the moment, it would be pretty easy for another group to use it without obtaining a license.

@kathy-phet and @jbphet let's discuss.

[2015-04-21 03:29] samreid opened #85 "Tandem as a unified approach for instrumenting sims and common code."
I've identified a new way of instrumenting simulations and common code that solves many of the problems identified in #72 and #80 and scales up nicely to simulations with multiple screens.  In particular, it means we can maintain encapsulation--we neither need to add instance variables (things can remain as closure vars) and client code doesn't need to access fields or provide ids for nested compo

[2015-04-21 03:54] samreid commented on #85
Above, I committed Tandem.js as well as examples of how tandem instrumentation would work for simple concentration components + radio buttons.  The idea is to pass Tandem instances into each object.  Tandem tracks the unique IDs, and provides an addInstance/removeInstance call.  In sun, the call is like this (at the bottom of RadioButton constructor):

[code]

For a nested component, a new tandem

[2015-04-21 03:58] samreid commented on #80
A superior variant of the above comment appears in #85.

[2015-04-21 03:58] samreid commented on #85
Many of @pixelzoom's thoughts from this comment apply here as well: https://github.com/phetsims/together/issues/80#issuecomment-94054821

[2015-04-21 17:46] samreid commented on #85
@pixelzoom suggest putting this in options for common code (including scenery-phet) or files that are intended to be made common in the future, so that we can maintain backward compatibility as we proceed.

[2015-04-21 17:47] samreid commented on #85
At today's developer meeting, we agreed this seems like a reasonable avenue to continue investigating.

[2015-04-21 17:55] samreid commented on #85
At today's developer meeting, we decided on this api for PropertySet:

[code]

[2015-04-21 18:09] samreid commented on #85
[4/21/15, 12:06:12 PM] Sam Reid: ok to proceed with tandem in master or keep it in a branch until more thoroughly tested?
[4/21/15, 12:06:32 PM] Chris Malley: ok either way.

[2015-04-21 20:11] #60 closed

[2015-04-21 21:10] samreid commented on #85
Initial work on this approach has begun, see commits above in master for Axon and Faraday's Law.  Seems promising so far.

[2015-04-22 00:25] samreid commented on #85
For common components, I am using this pattern:

[code]

[2015-04-22 01:37] samreid commented on #85
Faraday instrumentation complete, looks good to me.  Starting on concentration (in beers law lab) next.

[2015-04-22 15:43] samreid opened #86 "Tandem listeners should be registered before *any* sim code runs #1"
https://github.com/phetsims/tandem/issues/1

Just making a reference here so it will appear on Milestone.

[2015-04-22 18:46] samreid commented on #60
@jbphet and I are working on a grunt task that will remove the need for the together branches.  The HTMLs can live in together/.

[2015-04-22 18:48] samreid opened #87 "Sun components could require tandem when window.together is defined"
Sun components could require tandem when window.together is defined.  This could help us make sure that every user interface component has been instrumented, and make it very easy to do so.

[2015-04-22 19:21] jonathanolson commented on #80
This is assigned to me, but I presume tandem is a preferred approach?

[2015-04-22 20:28] samreid commented on #85
This approach seems promising so far.  Next steps are (a) @pixelzoom review as part of https://github.com/phetsims/beers-law-lab/issues/98 and (b) instrumenting color vision and molecules and light with this strategy.

[2015-04-22 20:29] samreid commented on #80
Yes, @jonathanolson #85 is the preferred approach now.  Can you review it when you have time and make sure it seems ok?

[2015-04-22 20:30] #80 closed

[2015-04-22 20:30] samreid commented on #85
Would also be great to hear from @jonathanolson about this approach.

[2015-04-22 22:24] samreid commented on #72
It looks like #85 is going to be the solution to this problem--it is currently pending review by @pixelzoom but I'll close this issue and we can continue in #85.

[2015-04-22 22:24] #72 closed

[2015-04-22 22:25] samreid opened #88 "Instrument Molecules and Light"
I'm creating a separate issue for instrumenting Molecules and Light, so we can track it separately.  The source issue was #35

[2015-04-22 22:25] samreid commented on #35
I moved "Instrument Molecules and Light" to #88 with Imminent milestone.  I'll move Build an Atom to a new issue with Desirable milestone.

[2015-04-22 22:25] #35 closed

[2015-04-22 22:26] samreid opened #89 "Instrument Build an Atom"
First screen if possible (sim could be used with ?screens=1.2) and game screen only if we have time or need to investigate it.  See #35

[2015-04-22 22:28] samreid commented on #51
The next step for this issue is for @samreid or @jbphet to deliver a published minified version + html scaffolding to our QA team along with a list of what platforms + tests should be run.

[2015-04-22 22:29] samreid commented on #17
We should be on the lookout for performance issues caused by the new triggers.  But I have not seen anything in passing and feel like this can move down a priority level in milestones.

[2015-04-22 22:31] samreid commented on #30
This no longer appears in sim code, so is somewhat lower priority.

[2015-04-22 22:33] samreid commented on #78
The args got transposed in the sim code for tandem, the switcheroo happens in together.js.  Should still be fixed but is lower priority since the sim code is getting it right.  Actually sim code is now tandem.addInstance( instance ) so even less error prone :)

[2015-04-22 22:33] samreid commented on #79
We are addressing this in #85 and #87, closing.

[2015-04-22 22:33] #79 closed

[2015-04-22 22:58] pixelzoom commented on #85
Review is unlikely until Monday 4/27. I'll be in meetings all day Thursday, out with out commitments Friday-Sunday.

[2015-04-23 14:33] pixelzoom opened #90 "what does 'ForReleasedDisabled' mean?"
In MomentaryButtonModel:

[code]

I understand the 'startedCallbacks' and 'endedCallbacks' prefix.  But what the heck is 'ForReleasedDisabled'?

[2015-04-23 14:36] pixelzoom commented on #90
Perhaps it means that the callbacks are related to the button transitioning to the released state as the result of having been disabled (as distinct from the user releasing the button)?  How about startedCallbacksForReleasedByDisable?

[2015-04-23 16:48] pixelzoom commented on #85
I created a few issues related to tandem support in axon, see above.  Generally this looks great.

One nit about JSdoc of `@param tandem` throughout the code:

‘elements’ is vague and not terminology used in the tandem API. tandem exports instances (addInstance, removeInstance), so it might be better to say:

[2015-04-23 16:49] pixelzoom commented on #85
Review finished. Assigning to @jonathanolson, because @samreid requested his feedback too.

[2015-04-23 19:14] samreid commented on #90
That is precisely what it means, I implemented your recommendation above.  Closing.

[2015-04-23 19:14] #90 closed

[2015-04-23 20:19] samreid opened #91 "Add a column to phetmarks for the together version"
@jbphet & I realized it could be helpful to link to the together/html/sim-together.html from phetmarks.

[2015-04-23 20:25] samreid opened #92 "Namespace all tandems based on the sim name"
Currently tandems are assigned based on a screen-by-screen basis, but in order to gracefully scale up to multi-sim studies, it would be more convenient to prefix labels with the name of the sim as well.

On the other hand, this would increase the verbosity of query parameters, data transmission, etc.  May make zip compression much more important.

We should discuss it, but at the moment I'm leanin

[2015-04-23 20:51] samreid opened #93 "Don't abbreviate units"
We have L, mol, m, etc.  Would be better to use the more verbose "Liters", moles, meters, etc.

[2015-04-24 00:35] pixelzoom commented on #93
@samreid Does issue this belong in some other repo?

[2015-04-24 00:52] samreid commented on #93
This is the right repo, it is referring to how the data outputs in the data stream or possibly in the future: save files.  For instance in molecules and light, some output data looks like:

[code]

This will help a researcher know that the value is 1E-7 meters, and not some other unit of measurement.  The units are optional in the *-api.js files.

[2015-04-24 00:53] samreid commented on #93
Although @jbphet & I tried using the long form of Hz and it just didn't look right :(

[2015-04-24 01:42] samreid opened #94 "togetherID already registered: navigationBar.phetMenu.phetWebsiteButton""
When pressing the phet menu button twice: "togetherID already registered: navigationBar.phetMenu.phetWebsiteButton""  This is a sure sign of a missing dispose()

[2015-04-24 05:07] samreid commented on #85
I addressed the renaming above.  @jonathanolson it would be great to get your feedback on this before we get too far.

[2015-04-24 13:49] dstein42 commented on #51
Take with a grain of salt, but the browser platforms that would be most important in the metacog test matrix are:
1) Chrome (latest) - on OSX, Windows 7+, Chromebook, Android 5+ (any tablet 7" plus would work; I successfully run the sims on my Nexus 6 phone)
2) Safari (latest) - on OSX, iOS (iPad, but not iPhone)
3) IE (11+) - on Windows 7+
4) Important test case - verify operations on at least on

[2015-04-24 14:02] dstein42 commented on #23
We (metacog) leaves it in the hands of the sim creators to decide what to capture or send. It won't gag our backend and we try to do a good job of batching and retries to deal with spotty school networks. I would agree with Ido and Chris Malley (@pixelzoom)  that it's better to generate everything and filter in the parent frame (or in metacog). I also agree with @kathy-phet that we (metacog) don't

[2015-04-24 14:55] jonathanolson commented on #85
Would reviewing tandem and the code in beers-law-lab be a good plan?

[2015-04-24 14:59] samreid commented on #85
Would reviewing tandem and the code in beers-law-lab be a good plan?

Yes, that be a good place to start, but you'll also need to be aware of how tandem is used in sun, axon, etc.  We may also want to move this pattern into scenery for certain nodes, so please think through the ramifications as you are reviewing other common code instrumentation.

For the Beer's Law instrumentation issue, you can

[2015-04-24 15:13] dstein42 commented on #59
Agreed - we use Spark clusters to process data in parallel. Projecting out a subset of events is not a big deal. The psychometricians and data scientists want all the data since **they** want to decide what's relevant or not. As long as you don't degrade the performance of a running sim to the point where a student or educator becomes annoyed, we don't mind getting lots of "extra" data.

[2015-04-24 23:22] samreid commented on #92
Could be good to do this sooner rather than later so that various groups will get the long-term messages (if we agree this is a good plan).

[2015-04-24 23:25] samreid opened #95 "Deliver sims to WISE"
WISE requested a license to include the instrumented sims in their learning platform.  We should grant them a license and deliver something they can use.  Getting their feedback and having them battle-test everything would be valuable.

[2015-04-25 00:51] samreid opened #96 "Reinstrument color vision using tandem"
Should be straightforward.

[2015-04-25 00:53] samreid commented on #96
Notes from @dstein42

[2015-04-25 00:54] samreid commented on #96
Regarding showing the photons, we are sending state data for Concentration solute particles, and that seems like it is working nicely.  I'd like to use the same strategy for tracking the color-vision photons.  I'm hoping batching+compression will ease bandwidth concerns.

[2015-04-25 18:29] pixelzoom commented on #92
+1 for namespacing tandems with the repository name (if that's what you mean by "sim name").

[2015-04-25 21:50] samreid commented on #92
Well, I think we would camel-case it like "energySkateParkSim" instead of hyphens like the repo name "energy-skate-park-sim".  Sound OK?

Also, do you like putting "sim" here or "simulation"?

[2015-04-25 22:01] pixelzoom commented on #92
Camel case sounds good. Is add the "sim" or "simulation" suffix really necessary?

[2015-04-25 22:07] samreid commented on #92
Just thinking through some possible names with and without:

[code]

The first one seems good to me.  I guess by convention we would know it is a sim?

[2015-04-25 22:24] pixelzoom commented on #92
As long as you don't mind this one:

[code]

This will be the case with all single-screen sims, the first first two tokens will be X.XScreen, where X is the repo name.

[2015-04-27 16:10] jbphet commented on #88
@samreid and I discussed this, and based on input from the customer, getting this sim fully instrumented is not necessarily required to meet their goals.  However, I'd really like to work through the instrumentation of the photons in this sim so that I have experience with model elements that pop into and out of existence.

[2015-04-27 16:14] jbphet commented on #32
Metacog has said that they could achieve their goals for ISTE with the two simulations that we have nearly ready for delivery to them, which are Concentration and Faraday's Law.  We will still work to instrument the other simulations, but wanted to record this information.

[2015-04-27 18:46] dstein42 commented on #96
Hi Sam,

I concur - I wasn't sure if "photons" were of the same complexity/quantity
as "solute particles", but the latter works very well. Let's continue with
the same strategy on similar simulations.

Thanks,
Doug

On Fri, Apr 24, 2015 at 8:54 PM, Sam Reid <notifications@github.com> wrote:

--
*Douglas Stein*
Chief Technology and Business Development Officer
503-730-7508 (cell)
508-798-6102 (offi

[2015-04-28 01:27] samreid opened #97 "Energy skate park basics master is broken"
Energy skate park basics master is broken, using a previous iteration of tandem.

[2015-04-28 23:43] #97 closed

[2015-04-29 00:19] samreid opened #98 "Should the sim itself be namespaced?"
We recently added sim-based namespacing to each variable name, see #92.  However, many of the iframe client examples use this form:

[code]

Note the togetherID is sim.active instead of energySkateParkBasics.sim.active.  If we add namespacing to all of the joist things, then these client sites will get more complicated.  How should we address this?  On the one hand, it would be good to namespace e

[2015-04-29 00:22] samreid commented on #98
I guess I am leaning toward namespacing all of the things, including the sim instance.  But it would be good to have a way to mitigate the trouble this causes in iframe client code.

[2015-04-29 00:24] samreid commented on #98
Note that if we make this change, it will cause an client iframe api change for all of the 3rd parties using these functions.

[2015-04-29 00:29] samreid opened #99 "Joist should use tandem instead of together + arch"
Joist needs to be rewritten to use tandem instead of together/arch.  I have some changes in my working copy but a ways from committing.

[2015-04-29 15:30] samreid opened #100 "Include user agent to simStarted message"
Let's include user agent or other information that identifies platform--may be very useful to clients in determining what platforms to support.

[2015-04-29 15:34] samreid commented on #100
We could use platform.js to get information from the userAgent, but we probably should supply the entire userAgent itself.

[2015-04-29 15:42] samreid opened #101 "Change options => parameters in messages"
Change options => parameters in messages.

So
[code]

will read as

[code]

[2015-04-29 22:26] samreid opened #102 "String.startsWith not defined--crashing sims on startup on some platforms"
Probably causing https://github.com/phetsims/beaker/issues/33

[2015-04-29 22:38] pixelzoom commented on #102
Checked for other usages, none found. String.startsWith is used only by together.Common.

[2015-04-29 22:47] samreid commented on #102
Fixed above and things are working in Safari now.  Closing.

[2015-04-29 22:47] #102 closed

[2015-04-30 03:43] samreid opened #103 "Remove duplication in PropertySet instrumentation"
For many PropertySet instrumentations, there is a great deal of duplicated code.  For instance:
[code]
in the tandemSet, `tandem.createTandem` appears 5 times and each key appears twice.  An alternative that is compatible with the current API would be:
[code]

[2015-04-30 05:38] samreid opened #104 "Nest declarations in the together sim API files"
We currently have a lot of duplication in the together sim API files.  For instance:

[code]

I'm thinking of a structure that more closely mirrors the tandemized structure in the sim, something like:

[code]

Not sure about the `self` part...  But structuring the API files like this could be more readable/maintainable in the long run.

[2015-04-30 18:11] jbphet opened #105 "How and where should together-enhanced simulations be deployed?"
Since these are supposed to be harder to get to, how shall we enforce this?

[2015-04-30 18:11] jbphet commented on #105
And by the way, this repo is currently public, so be careful not to put anything too revealing in this issue.

[2015-04-30 18:17] jbphet commented on #105
@ariel-phet suggest that this discussion be moved to a more private venue, so please see https://github.com/phetsims/special-ops/issues/3.

[2015-04-30 21:02] jbphet opened #106 "What should methods be called for converting instance state to an object"
When converting an object to JSON for transmission over the API, there is a step where the object must be converted into an object that captures its state data and that lends itself to easy conversion to JSON.  We've been using the name toJSON and the converse fromJSON, but these aren't really accurate, since that not really returning a JSON string or taking JSON as the parameter.  We should renam

[2015-04-30 21:04] jbphet commented on #106
@pixelzoom and @jonathanolson should opine on this, since these methods will appear in potentially lots of places in common code.

[2015-04-30 21:49] jbphet opened #107 "add serialization support to common code"
This is needed to support moving state information back and forth across the together API.

[2015-04-30 22:27] samreid opened #108 "Load the API files through requirejs instead of preload"
We previously loaded the files Common.js and sim-api.js through preload in order to simplify the chipper build process. However, this is leading to some difficulty when deserializing certain instances such as vectors and photons. It would be very convenient for the API files to be loaded with requireJS so that we can access all of the Sim types as necessary.

@jbphet  & I discussed it and determin

[2015-04-30 22:29] samreid commented on #108
Another other problem this would solve is the duplicate hack version of inherit & extend, which appears at the top of Common.js

[2015-04-30 22:31] samreid commented on #108
Until we do this, we will be using globals to deserialize things.

[2015-05-01 03:02] samreid commented on #108
A bread crumb trail we can use to find the globals that need deletion after this work is done is code like:

[code]

[2015-05-01 04:13] pixelzoom commented on #106
No strong opinion.

[2015-05-01 04:36] samreid commented on #106
I am leaning toward the instance method `serialize` plus the static method `deserialize`.  Definition from MSDN via Google (emphasis added):

[2015-05-01 08:03] samreid commented on #106
On the other hand, is a plain old javascript object really a "stream of bytes"?

[2015-05-01 08:08] samreid commented on #108
Here's another place in Joist that would clear up if we move out of preloads:

[code]

[2015-05-01 08:25] samreid opened #109 "Simplify tandem usage in common code"
I'm seeing this pattern quite a lot in common code instrumented with tandem:

[code]

Perhaps it could be replaced with utility code like so:
[code]

Here, we could factor out all of the logic regarding what to do with null options, etc and still remain compatible with the same api.  Even sweeter icing on the cake would be if Tandem was a global so we wouldn't have to import `var Tandem=require('T

[2015-05-01 18:56] jonathanolson commented on #106
toJSON/fromJSON and serialize/deserialize both imply to me returning a string or accepting a string (or possibly typed array for serialization).

toState/fromState (or toStateObject/fromStateObject) slightly preferred, but I'll be fine with any option.

[2015-05-01 23:27] jbphet commented on #106
@samreid and I looked at this blog post entitled "There's no such thing as a 'JSON Object'", and I thought it helped clarify the debate a little.

I like @jonathanolson's suggestions.  @samreid - do you like the sound of toStateObject/fromStateObject, or would this cause confusion with other together operations?

[2015-05-02 01:46] samreid commented on #5
We do not have plans to use xAPI, so I will therefore close this issue.

[2015-05-02 01:46] #5 closed

[2015-05-02 01:47] samreid commented on #14
It would be great to discuss this with @jonathanolson to see how to integrate it with the together events.

[2015-05-02 01:48] samreid commented on #17
Since #72 moved from arch => trigger, I think this issue is resolved.  If a profiler indicates too much time in the trigger() methods then we can investigate an appropriate solution at the time.

[2015-05-02 01:48] #17 closed

[2015-05-02 01:49] samreid commented on #22
Since 3rd parties will be transmitting/storing the data for the foreseeable future, I 'will close this issue.

[2015-05-02 01:49] #22 closed

[2015-05-02 02:03] samreid opened #110 "Forces and motion: Basics has a lot of togetherEvents litter"

[2015-05-02 02:03] samreid commented on #110
It should use tandem/trigger instead.

[2015-05-02 02:04] samreid commented on #30
@jonathanolson I saw an "arch" reference in a sublime text file--does that need to be updated?  It was unclear what it was referring to.

[2015-05-02 02:09] samreid commented on #30
Done above, but this was a pretty invasive change.  I'll leave it open and assigned to @jonathanolson about the above comment (arch appearing in a sublime text phet js file).  Brief testing of beaker + togetherEvents did not reveal any problems, but arch also appeared in the code together with arcw, so hopefully I didn't hit any false positives.  @pixelzoom @jbphet @jonathanolson @aaronsamuel137 @

[2015-05-02 02:13] samreid commented on #41
Can't we just parse everything as floating point?  If a floating point number got stored as 1.0, it would get restored as 1.0, right?  Perhaps we don't need to do anything here--would be good to test by using floating + integral query parameters.

[2015-05-02 02:15] samreid commented on #45
It seems simple enough to enumerate over all the items in the together API file and see which ones were hit--this also seems like a trivial example of data processing/datamite style analysis.

[2015-05-02 02:16] samreid commented on #47
If we implement #108 (which currently seems like a good plan) then using requirejs here too may become possible.

[2015-05-02 02:17] samreid commented on #50
Build an Atom would be a great place to develop this, since there are arrays of interactive particles.

[2015-05-02 02:18] samreid commented on #51
Our QA team has been testing our private beaker repo across platforms and identified a number of issues there.  Testing another sim would be good once something is ready.

[2015-05-02 02:21] #71 closed

[2015-05-02 02:26] samreid commented on #62
I removed all lodash references above, except that the 2 required for examples.  Published versions should not require lodash by default, so the problem should be resolved. Closing.

[2015-05-02 02:26] #62 closed

[2015-05-02 03:07] samreid commented on #45
A more difficult issue is knowing how/when to report the unused togetherID elements.  Perhaps a query parameter ?togetherInstrumentationReport that will report like so:
112 unique elements identified (plus any dynamic array elements)
registered beaker.beakerScreen.resetAllButton 1/112
...
registered beaker.beakerScreen.pauseButton 109/112

then in the console. you can type:
togetherInstrumentation

[2015-05-02 03:09] pixelzoom commented on #109
I don't mind `options.tandem && options.tandem.createTandem(...)`.  It's obvious what's going on.  And it's a pattern used elsewhere, e.g. `assert && assert(...)`.  The proposed utility looks less obvious to me.

[2015-05-02 03:09] samreid commented on #76
Still not entirely sure about this.  They are not sun.Button subclass instances so it would be a bit of work to implement this.  However, instrumenting each button could make it easy to record/playback their highlight state.

[2015-05-02 03:11] samreid commented on #109
OK, let's continue with `options.tandem && options.tandem.createTandem(...)`, thanks for your thoughts.  Closing.

[2015-05-02 03:11] #109 closed

[2015-05-02 03:13] samreid commented on #68
Or alternatively, use scenery node serialization to power record/playback.  Though this may be trouble for CanvasNode or WebGLNode.

[2015-05-02 03:13] samreid commented on #68
This requires discussion with @jonathanolson so I'll assign it to him.

[2015-05-02 03:20] samreid commented on #74
Fixed above.  The only item that did not fit the pattern was started/endedSimConstructor.  Closing.

[2015-05-02 03:20] #74 closed

[2015-05-02 03:24] samreid commented on #77
In my opinion, the best solution would be to add together instance checks into sun code.  For instance: in RadioButton.js we could add this check:

[code]

Perhaps there is a nice way to turn the above into a single line of code, or something that is OK to duplicate across plenty of sun/scenery-phet classes.

[2015-05-02 03:26] samreid commented on #77
Just to clarify the benefit of the above--it will make it easy to identify missing tandems during instrumentation.  Not just what is missing, but where exactly it is missing from (which line of client code omitted its tandem).

[2015-05-02 03:32] #78 closed

[2015-05-02 03:35] samreid commented on #81
Fixed above and documented in TogetherCommon.js, closing.

[2015-05-02 03:35] #81 closed

[2015-05-02 03:36] samreid commented on #86
This could complicate #108 somewhat (but probably not a deal-breaker).

[2015-05-02 03:37] samreid commented on #92
@jbphet & I have moved toward this and completed it for several sims.  All future instrumented sims should follow this pattern.  Closing.

[2015-05-02 03:37] #92 closed

[2015-05-02 03:37] samreid commented on #98
We have made this change and discussed it with our clients.  Closing.

[2015-05-02 03:38] samreid commented on #98
Oops, actually Joist still needs to be completely tandemized with appropriately namespaced tandems.

[2015-05-02 03:39] samreid commented on #99
Still need to collect some messages in TogetherCommon.js.

[2015-05-02 03:39] samreid commented on #100
Done, seems great, closing.

[2015-05-02 03:39] #100 closed

[2015-05-02 03:39] samreid commented on #101
Done, seems great, closing.

[2015-05-02 03:39] #101 closed

[2015-05-02 03:40] samreid commented on #103
@pixelzoom do you feel the same way about this that you felt about #109 ?

[2015-05-02 03:41] samreid commented on #106
to/fromStateObject sounds good to me.  Let's go for it.

[2015-05-02 03:47] samreid commented on #106
Saw this code in r.js:

[code]

[2015-05-02 03:49] pixelzoom commented on #103
The proposed change would be a problematic, as it couple implementation to tandem name. If you change the name of a property, you'll change the name of the tandem, and therefore need to change the client-side API.  I think we should continue to decouple the Property name from the tandem name.

[2015-05-02 03:54] samreid commented on #106
Also saw this in poly2tri.js:

[code]

[2015-05-02 03:56] samreid commented on #103
Sounds good, thanks for your quick response.  Closing.

[2015-05-02 03:56] #103 closed

[2015-05-02 03:57] samreid commented on #106
Despite other developers using toJSON to return an object literal, I think we should proceed to rename things as to/fromObjectState to make it clear what is happening.

[2015-05-02 03:58] samreid commented on #106
Fixed above, closing.

[2015-05-02 03:58] #106 closed

[2015-05-02 03:59] samreid commented on #107
Renamed to/fromJSON => to/fromStateObject, see https://github.com/phetsims/together/issues/106

[2015-05-02 04:01] samreid commented on #107
Can @jonathanolson or @pixelzoom look at @jbphet and @samreid's instrumentation of Vector2 or Color (see to/fromStateObject)?  Any thoughts?  Close if it seems good.

[2015-05-02 04:01] samreid commented on #108
While this would be a great step forward, it would be a large piece of work and very destabilizing until complete.

[2015-05-02 04:03] samreid opened #111 "Create a simple togetherEvents filtering example"
Create a simple togetherEvents filtering example, see #23

[2015-05-02 04:03] samreid commented on #23
So I think all that remains for this issue is to provide a simple filtering example.  I created #111 for this and will close this issue.

[2015-05-02 04:03] #23 closed

[2015-05-02 04:04] samreid commented on #24
#111 will be one simple example of filtering.  #77 is a simple (but useful!) example of processing.  Those seem sufficient at the moment, so I'll close this issue.

[2015-05-02 04:04] #24 closed

[2015-05-02 04:06] samreid commented on #84
I suspect this repo will eventually become private, based on my understanding of our current business model.  Converting it to private should be straightforward--the main complication being if we want to build on features here for our main-website sims, such as in #25 or if we want to build accessibility on top of this component system.

[2015-05-02 04:08] samreid commented on #89
Playback for the game screen seems like the real wildcard here.

[2015-05-02 04:09] samreid commented on #59
Looks like this is covered by #83 and #45, closing.

[2015-05-02 04:09] #59 closed

[2015-05-02 04:10] samreid commented on #87
This is effectively a duplicate of #45, closing.

[2015-05-02 04:10] #87 closed

[2015-05-02 04:15] samreid commented on #88
Based on the above comment I am demoting this to "desirable".  I already instrumented the photons here, and @jbphet can review it at his convenience.

[2015-05-02 04:34] samreid opened #112 "should toStateObject be an instance method or static method?"
I saw this TODO in the code:

[code]

In sim code, it makes sense for this to be an instance method.  I investigated making it an instance method for wrappers as well, and it seemed OK and good to match sim code, but there were cases like

[code]

where it would be awkward just to create a wrapper object for the purposes of calling toStateObject as an instance method.  So for now I am planning to

[2015-05-02 06:26] kathy-phet commented on #84
If there is no downside at the moment, go ahead and make it private for now. Regardless, companies would be violating our license if they used or copied this repo code.

[2015-05-02 16:56] samreid commented on #84
We will still need to find a way to make documentation & examples available to current, prospective and future clients.  According to https://help.github.com/articles/user-organization-and-project-pages/

So I think if we are careful about our gh-pages branch (i.e. careful to keep code out of that branch), we will still be able to use GitHub for maintaining/publishing/sharing documentation & examp